@font-face {
    font-family: UniSansHeavyCAPS;
    src: url("../fonts/kit/subset-UniSansHeavyCaps.ttf");
    src: url("../fonts/kit/subset-UniSansHeavyCaps.eot");
    src: url("../fonts/kit/subset-UniSansHeavyCaps.eot?#iefix") format("embedded-opentype"), url("../fonts/kit/subset-UniSansHeavyCaps.woff") format("woff"), url("../fonts/kit/subset-UniSansHeavyCaps.ttf") format("truetype"), url("../fonts/kit/subset-UniSansHeavyCaps.svg#UniSansHeavyCAPS") format("svg");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/kit/Lato-Regular.ttf");
    src: url("../fonts/kit/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kit/Lato-Regular.woff") format("woff"), url("../fonts/kit/Lato-Regular.ttf") format("truetype"), url("../fonts/kit/Lato-Regular.svg#Lato-Regular") format("svg");
    font-style: normal;
    font-weight: 100;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.button {
    padding: 20px 47px 18px;
    font-family: "UniSansHeavyCAPS";
    font-size: 1.125rem;
    text-decoration: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    color: white;
    background: #0d9ede;
}
.button span {
    z-index: 2;
    position: relative;
}
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #0071a2;
    z-index: 1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.bottomBlock {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4.8vw;
    background: url(../img/demos/mysh.jpg) no-repeat;
    background-size: cover;
    display: flex;
    box-sizing: border-box;
    padding: 15px 0;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-family: Lato-Regular;
    box-shadow: 0px 0px 10px #525252;
    transition: .5s all;
}
.bottomBlock .border {
    background: #d0d0d0;
    width: 1px;
    height: 85%;
}
.bottomBlock .price span {
    font-family: UniSansHeavyCAPS;
    font-size: 28px;
}
.bottomBlock .callus {

}
.bottomBlock .days span {
    font-family: UniSansHeavyCAPS;
    font-size: 26px;
}
.bottomBlock .callus a {
    text-decoration: none;
    color: #000;
}
.bottomBlock .callus a > span {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
}
.bottomBlock .callus .tel {
    font-size: 1.45rem;
    font-weight: bold;
}
.bottomBlock .callus svg {
    vertical-align: top;
    width: 18px;
    margin-right: 8px;
    margin-top: 5px;
}
.bottomBlock .callus svg .fil0 {
    fill: #009FE1;
}
.insideBottomBlock {
    width: 950px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.bottomFlag {
    position: fixed;
    bottom: 4.8vw;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 50px;
    background: white;
    font-family: lato-regular;
    padding: 15px 20px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2;
    transition: .5s all;
}
.bottomFlag.active {
    bottom: 0;
}

.bottomBlock.active {
    box-shadow: none;
}
.bottomFlag img {
    margin-left: 5px;
    transition: .5s all;
}
.bottomFlag.active img {
    transform: rotate(180deg);
}
.modal {
    max-width: 425px;
    visibility: hidden;
    opacity: 0;
    transition: .5s all;
}
  .callUs.active {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
.modal.callUs {
    height: 365px;
}
.modal.callUs2 {
    height: 495px;
}
.modal.success {
  height: 245px;
}
.modal input,
.modal textarea {
  width: 100%;
  margin: 8px 0;
  border: 1px solid #989898;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
    font-size: 1rem;
}
.modal input::-webkit-input-placeholder {color:#989898;}
.modal textarea::-webkit-input-placeholder {color:#989898;}
.modal textarea {
  resize: none;
  height: 5rem;
}
.modal .button {
  font-family: UniSansHeavyCAPS;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-top: 20px;
}
.modal h5 {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.7rem;
}
.modal p {
  font-size: 1.1rem;
}
.modal .close {
  background: url(../img/zakryt.png) no-repeat center;
  width: 14px;
  height: 14px;
  cursor: pointer;
  right: 10px;
  top: 10px;
  padding: 10px;
  position: absolute;
}

#layout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  transition: .5s all;
}
#layout.active {
    opacity: 1;
    visibility: visible;
}

.modal {
  background: white;
  max-width: 400px;
  will-change: transform;
  padding: 2rem 5rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 21;
  visibility: hidden;
  text-align: center;
}
.button.cons {
    padding: 7px 12px 7px;
    border-radius: 2px;
}
/*.button.cons::after {*/
    /*position: absolute;*/
    /*left: -10px;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-style: solid;*/
    /*border-width: 7.5px 10px 7.5px 0;*/
    /*border-color: transparent #0d9fde transparent transparent;*/
    /*transition: .2s all;*/
/*}*/
.button.cons:hover {
    background: #2cb4f0;
}
.button.cons:hover ::after {
    background: #2cb4f0;
}
.button.zakaz {
        background: #0071a2;
}
.button.zakaz:hover {
    background: #0081bb;
}
.item.days {
    width: 135px;
    font-size: 15px;
}

h5 {
  font-family: UniSansHeavyCAPS;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 1.625rem;
  color: #000;
}
html {
        font-family: Lato-Regular;
}

@media screen and (max-width: 500px) {
    .modal {
    height: 90%!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    top: initial;
    max-width: 100%;
    padding: 2rem;
  }
}
@media screen and (max-width: 950px) {
    .bottomBlock .price span {
        font-size: 21px
    }
    .item.price {
        font-size: 13px;
    }
    .item.days {
        width: 120px;
        font-size: 13px;
    }
    .bottomBlock .days span {
        font-size: 18px;
    }
    .button.cons {
        padding: 5px 9px 5px;
        font-size: 12px;
    }
    .bottomBlock .callus .tel {
        font-size: 1.25rem;
    }
    .button.zakaz {
        padding: 10px 15px 9px;
        font-size: 16px;
    }
    .bottomFlag {
        width: 140px;
        height: 30px;
        padding: 7px 20px;
    }
}
@media screen and (max-width: 630px) {
    .bottomBlock .callus svg {
        display: none;
    }
    .bottomBlock {
        height: 99px;
    }
    .bottomFlag {
        bottom: 99px;
    }
    .item.days {
        display: none;
    }
    .insideBottomBlock {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .bottomBlock {
        padding: 0;
    }
    .item {
        width: 40%;
        text-align: center;
        padding: 5px 0;
    }
    .button.cons::after {
        display: none;
    }
}
@media screen and (max-width: 1400px) {
    .button {
        padding: 17px 47px 18px;
    }

}

@media screen and (min-width: 1850px) {
   /*.modal.callUs {*/
        /*height: 375px!important;*/
    /*}*/
    /*.modal.success {*/
    /*height: 285px!important;*/
  /*}*/

}
@media screen and (min-width: 1750px) {
    /*.modal.callUs {*/
    /*height: 335px;*/
  /*}*/
  /*.modal.success {*/
    /*height: 225px;*/
  /*}*/
}