/*
* @autor: Vetal
* mixins framework
*/




/* Размытие */
.blur(@arg) {
  -webkit-filter: blur(@arg);
  -moz-filter: blur(@arg);
  -o-filter: blur(@arg);
  -ms-filter: blur(@arg);
  filter: blur(@arg);
}


/* Внешняя тень */
.box-shadow(@x: 0, @y: 0, @blur: 10px, @color: #666){
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

/* Пуленепробиваемый background-size */
.background-size(@val: 100%) {
  -o-background-size: @val; /* opera ≥ 9.5 */
  -webkit-background-size: @val; /* Safari ≥ 5.0, Chrome ≥ 4.0 */
  -khtml-background-size: @val; /* Konqueror ≥ 3.5.4 */
  -moz-background-size: @val; /* Firefox ≥ 3.6 */
  background-size: @val;
}

/* Тень к тексту */
.text-shadow(@x: 1px, @y: 1px, @radius: 2px, @color: #000){
  -webkit-text-shadow: @arguments;
  -moz-text-shadow: @arguments;
  text-shadow: @arguments;
}
/* Обводка текста
*  @color - цвет обводки
*  @width - ширина обводки
*/
.text-border(@color: #000, @width: 3px) {
  text-shadow: @color @width 0px,
  @color -@width 0px,
  @color 0px @width,
  @color 0px -@width,
  @color @width @width,
  @color -@width -@width,
  @color -@width @width,
  @color @width -@width,
  @color 0 0 1px;
}

/* Закругления */
.rounded(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

// Borner radius
.border-radius(@topLeft: 0, @topRight: 0, @bottomRight: 0, @bottomLeft: 0) {
  // Top Left
  -webkit-border-top-left-radius: @topLeft;
  -moz-border-radius-topleft: @topLeft;
  border-top-left-radius: @topLeft;
  // Top Right
  -webkit-border-top-right-radius: @topRight;
  -moz-border-radius-topright: @topRight;
  border-top-right-radius: @topRight;
  // Bottom Right
  -webkit-border-bottom-right-radius: @bottomRight;
  -moz-border-radius-bottomright: @bottomRight;
  border-bottom-right-radius: @bottomRight;
  // Bottom Left
  -webkit-border-bottom-left-radius: @bottomLeft;
  -moz-border-radius-bottomleft: @bottomLeft;
  border-bottom-left-radius: @bottomLeft;
}

/* @count - определяет количество колонок в многоколоночном тексте,
 а @gap - задаёт расстояние между колонками. */
.column(@count: 3, @gap: 1em) {
  -webkit-column-count: @count; -webkit-column-gap: @gap;
  -moz-column-count: @count;    -moz-column-gap: @gap;
  column-count: @count;         column-gap: @gap;
}

/*
* Устанавливаем эффект перехода
* между двумя состояниями элемента
* (например обычным состоянием и :hover)
* @property - свойство
* @duration - продолжительность изменения
* @function - график движения
*/
.transition(@arguments: all 1s) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

/*
* Трансформируем элемент,
* в частности, можем его масштабировать,
* вращать, сдвигать, наклонять, а также
* комбинировать виды трансформаций.
* @value - название функции и ее значения:
* scale(x) - масштабирование
* rotate(градусы) - поворот
* translate(горизонталь, вертикаль) - сдвиг
* (!) Запятую между функциями ставить не нужно
*/
.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}

// Opacity
.opacity(@opacity: 0.5) {
  opacity: @opacity;
  @opperc: @opacity * 100;
  filter: ~"alpha(opacity=@{opperc})";
}


// Background clip
.background-clip(@argument: padding-box) {
  -webkit-background-clip: @argument;
  -moz-background-clip: @argument;
  background-clip: @argument;
}

// Box sizing
.box-sizing(@sizing: border-box) {
  -webkit-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -ms-box-sizing: @sizing;
  box-sizing: @sizing;
}

// User select
.user-select(@select: none) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  -o-user-select: @select;
  user-select: @select;
}

// Display: inline-block
.inline-block() {
  display: inline-block;
  *zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
}

// Size
.size(@width, @height) {
  width: @width;
  height: @height;
}

// Center align
.center() {
  margin-left: auto;
  margin-right: auto;
}

//superCenter
.absoluteCenter() {
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

// Flexbox
.flex-block() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-inline() {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.flex-flow(@direction: row, @wrap: nowrap) {
  -moz-flex-flow: @direction @wrap;
  -ms-flex-direction: @direction;
  -ms-flex-wrap: @wrap;
  -webkit-flex-flow: @direction @wrap;
  flex-flow: @direction @wrap;
}

.align-content(@alignment) {
  -moz-align-content: @alignment;
  -ms-align-content: @alignment;
  -webkit-align-content: @alignment;
  align-content: @alignment;
}

.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
  -moz-flex-direction: @direction;
  -ms-flex-direction: @direction;
  flex-direction: @direction;
}

.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
  -moz-flex-wrap: @wrap;
  -ms-flex-wrap: @wrap;
  flex-wrap: @wrap;
}

.justify-content(@justification) {
  -webkit-box-pack: @justification;
  -moz-box-pack: @justification;
  -ms-flex-pack: replace(@justification, "flex-", "");
  -webkit-justify-content: @justification;
  justify-content: @justification;
}

.align-items(@mode) {
  -webkit-box-align: @mode;
  -moz-box-align: @mode;
  -ms-flex-align: @mode;
  -webkit-align-items: @mode;
  align-items: @mode;
}

.flex(@args: none) {
  -moz-flex: @args;
  -ms-flex: @args;
  -webkit-flex: @args;
  flex: @args;
}

.order(@order: 0) {
  -webkit-box-ordinal-group: @order;
  -moz-box-ordinal-group: @order;
  -ms-box-ordinal-group: @order;
  -ms-flex-order: @order;
  -webkit-order: @order;
  -moz-order: @order;
  -ms-order: @order;
  order: @order;
}

.flex-grow(@grow: 1) {
  -moz-flex-grow: @grow;
  -ms-flex-grow: @grow;
  -webkit-flex-grow: @grow;
  flex-grow: @grow;
}

.flex-shrink(@shrink: 1) {
  -moz-flex-shrink: @shrink;
  -ms-flex-shrink: @shrink;
  -webkit-flex-shrink: @shrink;
  flex-shrink: @shrink;
}

.flex-basis(@basis: auto) {
  -moz-flex-basis: @basis;
  -ms-flex-basis: @basis;
  -webkit-flex-basis: @basis;
  flex-basis: @basis;
}

.align-self(@align: auto) {
  -moz-align-self: @align;
  -ms-align-self: @align;
  -webkit-align-self: @align;
  align-self: @align;
}