// out: style.css

@import "mixins";




@font-face {
  font-family: UniSansHeavyCAPS;
  src: url("../fonts/kit/subset-UniSansHeavyCaps.ttf");
  src: url("../fonts/kit/subset-UniSansHeavyCaps.eot");
  src: url("../fonts/kit/subset-UniSansHeavyCaps.eot?#iefix") format("embedded-opentype"),
  url("../fonts/kit/subset-UniSansHeavyCaps.woff") format("woff"),
  url("../fonts/kit/subset-UniSansHeavyCaps.ttf") format("truetype"),
  url("../fonts/kit/subset-UniSansHeavyCaps.svg#UniSansHeavyCAPS") format("svg");


  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/kit/Lato-Black.ttf");
  src: url("../fonts/kit/Lato-Black.eot");
  src: url("../fonts/kit/Lato-Black.eot?#iefix") format("embedded-opentype"),
  url("../fonts/kit/Lato-Black.woff") format("woff"),
  url("../fonts/kit/Lato-Black.ttf") format("truetype"),
  url("../fonts/kit/Lato-Black.svg#Lato-Black") format("svg");

  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/kit/Lato-Regular.ttf");
  src: url("../fonts/kit/Lato-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/kit/Lato-Regular.woff") format("woff"),
  url("../fonts/kit/Lato-Regular.ttf") format("truetype"),
  url("../fonts/kit/Lato-Regular.svg#Lato-Regular") format("svg");

  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Lato-Semibold";
  src: url("../fonts/kit/Lato-Semibold.ttf");
  src: url("../fonts/kit/Lato-Semibold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/kit/Lato-Semibold.woff") format("woff"),
  url("../fonts/kit/Lato-Semibold.ttf") format("truetype"),
  url("../fonts/kit/Lato-Semibold.svg#Lato-Regular") format("svg");

  font-style: normal;
  font-weight: 100;
}

b {
  font-weight: bold;
  //font-family: Lato-Black;
}
p {
  font-weight: 100;
}
h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 100;
}

@keyframes fadeEffect {
    from {opacity: 0;}
	to {opacity: 1;}
}
@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@gray: #626161;
@blueDarken: #31527b;
@blueLighten: #0d9ede;

.button {
  padding: 17px 47px 22px;
  font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  .transition(all 1s);
  &.blue {
    color: white;
    //background: @blueLighten;
    background-image: -moz-linear-gradient( 0deg, rgb(13,158,222) 0%, rgb(19,181,239) 76%, rgb(25,204,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(13,158,222) 0%, rgb(19,181,239) 76%, rgb(25,204,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(13,158,222) 0%, rgb(19,181,239) 76%, rgb(25,204,255) 100%);
    background-image: linear-gradient( 0deg, rgb(13,158,222) 0%, rgb(19,181,239) 76%, rgb(25,204,255) 100%);
    box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.3),inset 0px -2px 0px 0px rgba(0, 0, 0, 0.21);
  }
  &.monolit {

  }
  &.uni {
    font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  .transition(color 0.2s);
  span {
    z-index: 2;
    position: relative;
    vertical-align: middle;
  }
  //&::before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-image: -moz-linear-gradient( 90deg, rgb(10,125,175) 0%, rgb(10,125,175) 0%, rgb(13,158,222) 1%, rgb(19,197,239) 76%, rgb(25,236,255) 100%);
  //  background-image: -webkit-linear-gradient( 90deg, rgb(10,125,175) 0%, rgb(10,125,175) 0%, rgb(13,158,222) 1%, rgb(19,197,239) 76%, rgb(25,236,255) 100%);
  //  background-image: -ms-linear-gradient( 90deg, rgb(10,125,175) 0%, rgb(10,125,175) 0%, rgb(13,158,222) 1%, rgb(19,197,239) 76%, rgb(25,236,255) 100%);
  //  background-image: linear-gradient( 90deg, rgb(10,125,175) 0%, rgb(10,125,175) 0%, rgb(13,158,222) 1%, rgb(19,197,239) 76%, rgb(25,236,255) 100%);
  //  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.21);
  //  z-index: 1;
  //  opacity: 0;
  //  -webkit-transform: scale3d(0.7, 1, 1);
  //  transform: scale3d(0.7, 1, 1);
  //  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  //  transition: transform 0.4s, opacity 0.4s;
  //  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  //  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  //}
  &:hover {
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.5), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.21);
    background-image: -moz-linear-gradient( 0deg, rgb(13,158,222) 0%, rgb(19,197,239) 76%, rgb(25,236,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(13,158,222) 0%, rgb(19,197,239) 76%, rgb(25,236,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(13,158,222) 0%, rgb(19,197,239) 76%, rgb(25,236,255) 100%);
    background-image: linear-gradient( 0deg, rgb(13,158,222) 0%, rgb(19,197,239) 76%, rgb(25,236,255) 100%);
    //&::before {
    //  -webkit-transform: scale3d(1, 1, 1);
    //  transform: scale3d(1, 1, 1);
    //  opacity: 1;
    //}
  }
}
h3 {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 2.825rem;
  color: #000;
}
h5 {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #000;
}


html {
  --size: .78;
  font-size: 14px;
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  font-weight: 100;

  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

  --topDeal: ~"calc(50% - (410px * var(--size)) + (120px * var(--size)))";
  --leftDeal: ~"calc(20% * var(--size))";
}
.scalable {
  transform-origin: left top;
  .transform(scale(var(--size)));
}
#ascrail2000 {
  cursor: pointer!important;
}
.scalableForm {
  .transform(scale(.88));
}
form {
  //position: relative;
  //.warning {
  //  color: #a20f20;
  //  font-size: 12px;
  //  position: absolute;
  //  opacity: 0;
  //}
}

@media screen and(max-width: 1200px) {

  html {
    --size: .55;
    font-size: 12px;
  }
  .scalable {
    .transform(scale(var(--size)));
  }
  .scalableForm {
    .transform(scale(.65));
  }
}

@media screen and(max-width: 1441px) {

  html {
    --size: .65;
    font-size: 12px;
  }
  .scalable {
    .transform(scale(var(--size)));
  }
  .scalableForm {
    .transform(scale(.75));
  }
}
@media screen and(min-width: 1850px) {

  html {
    --size: 1;
    font-size: 16px;
  }
  .scalable {
    .transform(scale(var(--size)));
  }
  .scalableForm {
    .transform(scale(1));
  }
  //.modal {
  //  &.mainModal {
  //    height: 460px!important;
  //  }
  //  &.callUs {
  //    height: 375px!important;
  //  }
  //  &.success {
  //    height: 285px!important;
  //  }
  //}
}
.mobile55 {
  display: none!important;
}
#layout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  visibility: hidden;
  opacity: 0;
  z-index: 20;
}
.modal {
  background: white;
  max-width: 400px;
  will-change: transform;
  overflow: auto;
  &.mainModal {
    height: 430px;
  }
  &.callUs {
    height: 355px;
  }
  &.success {
    height: 245px;
  }
  &.shagModal {
    height: 430px;
    max-width: 460px;
    padding: 2rem 9rem;
    .lineSteps {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50px;
      margin: auto;
      width: 10px;
      height: 120px;
      .line {
        width: 1px;
        height: 100px;
        background: #b4e2f0;
        margin: auto;
      }
      .step {
        width: 10px;
        height: 10px;
        &.activeStep {
          background: url(../img/rombBlue.png) no-repeat;
        }
        &.inactiveStep {
          background: url(../img/rombLight.png) no-repeat;
        }
      }
    }
    form {
      position: relative;
      .action-2 {
        position: absolute;
        left: 0;
        &.gra {
          top: 0;
        }
        &.laba {
          top: 90px;
        }
      }
      .button {
        text-transform: uppercase;
        font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
        padding: 15px 30px 16px;
      }
      .sub {
        display: none;
        img {
          position: relative;
          z-index: 2;
          margin-left: 15px;
          top: 1px;
          vertical-align: middle;
        }
      }
      .next {
        img {
          position: relative;
          z-index: 2;
          margin-left: 15px;
          top: 1px;
          vertical-align: middle;
        }
      }
      .prev {
        display: none;
        background: transparent;
        color: @blueLighten;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &::before {
          background: #dcf4ff;
        }
        img {
          position: relative;
          z-index: 2;
          margin-right: 15px;
          top: 1px;
          vertical-align: middle;
        }
      }
    }
  }
  padding: 2rem 5rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 21;
  visibility: hidden;
  text-align: center;
  input, textarea {
    width: 100%;
    margin: 8px 0;
    border: 1px solid #989898;
    font-size: 1rem;
    padding: 15px 15px;
    .box-sizing();
    &::-webkit-input-placeholder {color:#989898;}
    &::-moz-placeholder          {color:#989898;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#989898;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#989898;}
  }
  textarea {
    resize: none;
    height: 5rem;
  }
  .button {
    font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-top: 20px;
  }
  h5 {
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .close {
    background: url(../img/zakryt.png) no-repeat center;
    width: 14px;
    height: 14px;
    cursor: pointer;
    right: 0;
    top: 0;
    padding: 10px 10px 20px 20px;
    position: absolute;
  }
}



.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 7%;
  z-index: 2;
  &.prev {
    left: 20px;
    background: url(../img/left.png);
    width: 13px;
    height: 48px;
    cursor: pointer;
  }
  &.next {
    right: 20px;
    background: url(../img/right.png);
    width: 13px;
    height: 48px;
    cursor: pointer;
  }
}

body {
  margin: 0;
  padding: 0;
}
.b24-widget-button-position-bottom-left {
  left: 100px!important;
}
.inner {
  position: relative;
  width: 100%;
  aside.sideMenu {
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .box-shadow(1px, 0, 4px, rgba(0,0,0,.15));
    background: #fff;
    z-index: 3;
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      background: url(../img/zakryt.png) no-repeat center;
      width: 14px;
      height: 14px;
      padding: 10px;
      display: none;
    }
    .logo {
      text-align: center;
      padding: 8vh 0 0 0;
      img {
        width: ~"calc(254px * var(--size))";
        max-width: 200px;
      }
      p {
        font-size: 1.125rem;
        width: 244px;
        text-align: center;
        margin: 1em auto 0;
        color: @gray;
      }
    }
    nav.mainMenu {
      letter-spacing: 0.05em;
      font-family: Lato-Black, Arial, Helvetica, sans-serif;
      padding: 5vh 0 5vh 0;
      > * {
        padding: 8px 2em;
      }
      a {
        color: @blueDarken;
        text-decoration: none;
        font-size: 16px;
        font-weight: 100;
      }
      .category {
        padding-left: 3rem;
        padding-top: 0;
        padding-bottom: 0;
        background: url(../img/svg/longdot.svg) no-repeat 2rem center;
        .transition(background-color .4s);
        &:nth-last-child(1) {
          .wrapper {
            border-bottom: none;
          }
        }
        .wrapper {
          border-bottom: 1px solid #f2f2f2;
          a {
            padding-left: 1rem;
            padding-top: 2vh;
            padding-bottom: 2vh;
            display: block;
          }
        }
        &:hover, &.active {
            background-color: #f2f2f2;
        }
      }
      .completeWork {
        background: #f7f7f7;
        > * {
          padding: 11px 0;
        }
        p {
          margin: 0;
        }
        .itemMenu {
          position: relative;
          padding-left: 2rem;
          background: url(../img/svg/dot.svg) no-repeat 4% center;
          .special {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            height: 28px;
            font-size: .75rem;
            font-family: "Lato-Black", Arial, Helvetica, sans-serif;
            color: @blueDarken;
            background: #e9e9e9;
            .rounded(3px);
            .box-sizing();
            padding: 6px;
            margin: auto;
          }
        }
      }
    }
    .buttonMain {
      background: #f0f4f8;
      border-top: 1px solid #d7e1ec;
      border-bottom: 1px solid #d7e1ec;
      text-align: center;
      .button {
        display: inline-block;
        font-size: 16px;
        //text-transform: uppercase;
        .rounded(2px);
        margin: 25px auto;
      }
    }
    .social {
      text-align: center;
      position: relative;
      .flex-block();
      .justify-content(center);
      .align-items(center);
      height: 17vh;
      p {
        font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
        font-size: 1.125rem;
        color: #626161;
        margin-top: 0;
      }
      .icons {
        width: 100%;
        .item {
          display: inline-block;
          width: 20%;
          .box-sizing();
          padding: 0 5px;
          &.item1 {
            svg {
              .str0 {stroke:#D9DADA;stroke-width:15.6856}
              .fil0 {fill:none}
              .fil1 {fill:#044569;fill-rule:nonzero}
            }
          }
          &.item2 {
            svg {
              .str0 {stroke:#D9DADA;stroke-width:1.94791}
              .fil0 {fill:none}
              .fil1 {fill:#044569}
            }
          }
          &.item3 {
            svg {
              .str0 {stroke:#D9DADA;stroke-width:1.03843}
              .fil0 {fill:none}
              .fil1 {fill:#044569}
            }
          }
          &.item4 {
            svg {
              .str0 {stroke:#D9DADA;stroke-width:0.707911}
              .fil0 {fill:none}
              .fil1 {fill:#044569}
            }
          }
        }
      }
    }
  }
  >.content {
    width: ~"calc(100% - 260px)";
    margin-left: 260px;
    z-index: 1;
    position: relative;
    >header {
      background: white;
      width: ~"calc(100% - 260px)";
      .box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.3));
      position: fixed;
      z-index: 3;
      padding: 0;
      .flex-block();
      .justify-content(space-around);
      .align-content(center);
      .align-items(center);
      .box-sizing();
      padding: 0 60px;
      .border {
        width: 1px;
        height: 35px;
        background: #e2e2e2;
      }
      .mobile {
        display: none;
      }
      .item {
        text-align: center;
        padding: 10px 0;
        font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
        font-size: 1rem;
        a {
          color: #0e517d;
        }
        &.online {
          svg {
            vertical-align: middle;
            margin-right: 8px;
            width: 20px;
            .fil0 {fill:#0E517D;fill-rule:nonzero}
          }
        }
        &.like {
          padding: 5px 0;
          position: relative;
          .col {
            color: #0e517d;
            text-decoration: none;
            position: absolute;
            font-size: .6rem;
            top: 4px;
            left: 23px;
          }
          svg {
            width: 25px;
            height: 25px;
            margin-right: 8px;
          }
          .heartSvg {
            fill: #0E517D;
            fill-rule: nonzero;
          }
        }
        &.city {
          span {
            color: #0e517d;
            cursor: pointer;
            border-bottom: 1px dashed #0E517D;
          }
        }
        &.callme {
          svg {
            .fil0 {fill:#0E517D}
            vertical-align: middle;
            width: 20px;
            margin-right: 8px;
          }
        }
        &.callus {
          border-right: none;
          padding-right: 0;
          a {
            text-decoration: none;
            color: #000;
          }
          a > span {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
          }
          .tel {
            font-size: 1.25rem;
          }
          svg {
            .fil0 {fill:#0E517D}
            vertical-align: middle;
            width: 20px;
            margin-right: 8px;
          }
        }
      }
    }
    .wrapper {
      z-index: 1;
      &.mainBlock {
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../img/fonnn.jpg);
        overflow: hidden;
        .layer {
          background: rgba(0,0,0,0.5);
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 3;
          cursor: pointer;
          opacity: 0;
          visibility: hidden;
        }
        .formDeal {
          display: flex;
          position: absolute;
          transform-origin: center;
          .justify-content(center);
          .align-items(center);
          //.flex-wrap(wrap);
          width: 100%;
          z-index: 2;
          .leftSide {
            //width: 100%;
          }
          .grayLine {
            background: rgb(185, 185, 185);
            width: 2px;
            min-width: 2px;
            height: 250px;
            margin: 0 3.5vw;
            .box-sizing();
          }
          //top: ~"calc(50% - (380px * var(--size)) + (120px * var(--size)))";
          top: 30%;
          //left: ~"calc(20% * var(--size))";
          h1 {
            font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            font-size: 55px;
            margin: 0;
            line-height: 1.2;
            width: 660px;
          }
          .line {
            height: 3px;
            width: 130px;
            background: @blueLighten;
            margin: 20px 0;
          }
          form {
            outline: none;
            padding: 2px;
            width: 340px;
            p {
              font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }
            input {
              padding: 14px 10px 15px 50px;
              background: white url(../img/svg/phone.svg) no-repeat 15px center;
              .rounded(3px);
              border: 2px solid #9dc3d8;
              font-size: 20px;
              color: #000;
              font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
              position: relative;
              outline: none;
              &::-webkit-input-placeholder {color:#000;}
              &::-moz-placeholder          {color:#000;}/* Firefox 19+ */
              &:-moz-placeholder           {color:#000;}/* Firefox 18- */
              &:-ms-input-placeholder      {color:#000;}
              + p {
                position: absolute;
              }
            }
          }
          p {
            font-family: Lato-Regular, Arial, Helvetica, sans-serif;
            font-size: 25px;
            margin: 0;
            margin-bottom: 20px;
            width: 495px;
          }

          .button {
            padding: 17px 45px;
            font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
            font-size: 1.25rem;
            //text-transform: uppercase;
            .rounded(2px);
            cursor: pointer;
            display: block;
            margin-top: 20px;
          }
        }
        .coffee {
          position: absolute;
          background: url(../img/coffeHead.png);
          height: 253px;
          width: 287px;
          left: ~"calc(-120px * var(--size))";
        }
        .monitor {
          position: absolute;
          background: url(../img/screen.png);
          height: 467px;
          width: 1299px;
          left: ~"calc(750px * var(--size))";
          top: ~"calc(-110px * var(--size))";
          z-index: 2;
        }
        .keyboard {
          position: absolute;
          background: url(../img/keyboard.png);
          height: 279px;
          width: 475px;
          right: ~"calc(-170px / var(--size))";
          bottom: ~"calc(35px / var(--size))";
          z-index: 2;
        }
        .mouse {
          position: absolute;
          background: url(../img/mouse.png);
          height: 156px;
          width: 165px;
          left: ~"calc(-35px * var(--size))";
          bottom: ~"calc(300px * var(--size))";
          z-index: 1;
        }
        .lineCat {
          position: absolute;
          bottom: 0;
          .box-sizing();
          padding: 20px 10px;
          width: 100%;
          height: ~"calc(260px * var(--size))";
          display: flex;
          z-index: 3;
          .item {
            width: 25%;
            height: 100%;
            .box-sizing();
            //padding: 0 10px;
            padding: ~"calc(3rem * var(--size)) 1.5rem calc(1rem * var(--size))" 1.5rem;
            margin: 0 10px;
            overflow: hidden;
            position: relative;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
            background: #fff;
            .face {
              background-size: contain;
              cursor: pointer;
            }
            svg {
              .str0 {stroke:#d9e2ed;stroke-width:3.88505}
              .str1 {stroke:#0e9ede;stroke-width:5.82784;stroke-linecap:round;stroke-linejoin:round}
              .fil0 {fill:none}
            }
            &.active {
              .arrow .ar {
                .transform(rotate(180deg));
              }
            }
            .arrow {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: ~"calc(2rem * var(--size))";
              border-bottom: 1px solid #e6e6e6;
              cursor: pointer;
              margin-top: 0;
              .ar {
                background: url(../img/arrow.svg) no-repeat;
                /* height: 100%; */
                height: 0.5rem;
                width: 20px;
                /* width: 100%; */
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                transform-origin: center;
                .transition(transform .5s ease-in-out .5s);
              }
            }
            p {
              margin: 0;
            }
            .oldPrice {
              font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
              text-transform: uppercase;
              color: rgba(0, 0, 0, .3);
              font-size: 1.25rem;
              text-decoration: line-through;
            }
            .price {
              span {
                font-family: Lato-Regular, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
                text-transform: lowercase;
                //color: rgba(0, 0, 0, .3);
                color: black;
                font-size: 1.25rem;
                margin-right: 5px;
              }
              font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
              text-transform: uppercase;
              color: black;
              font-size: 2.5rem;
              margin-bottom: 3px;
            }
            .name {
              font-family: Lato-Regular, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
              //text-transform: uppercase;
              color: black;
              font-size: 1.25rem;
              margin: 0 0 ~"calc(10px * var(--size))" 0;
            }
            .more {
              font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
              text-transform: uppercase;
              color: #0e9edb;
              font-size: .87rem;
              background: none;
              border: none;
              padding: ~"calc(30px * var(--size)) calc(44px * var(--size))";
              padding-left: 0;
              padding-bottom: 0;
              cursor: pointer;
              outline: none;
            }
            .srok {
              background: url(../img/Figura_50.png) no-repeat left center;
              background-size: contain;
              padding-left: 25px;
              color: #6e6e6e;
              font-size: 1rem;
              opacity: 0;
              visibility: hidden;
              position: absolute;
              top: ~"calc(150px * var(--size))";
            }
            .shadow {
              position: absolute;
              top: ~"calc(230px * var(--size) + 1.5rem)";
              width: 100%;
              left: 0;
              height: 100%;
              background: #f0f4f8;
              border-top: 1px solid #d9e2ed;
              .desc {
                padding: 1.5rem 0;
                margin: 0 1.5rem;
                color: black;
                font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
                font-size: 1rem;
                border-bottom: 1px solid #d9e2ed;
              }
              > .scroller {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: -30px;
                border: 2px solid white;
                .rounded(50%);
                .box-sizing();
                cursor: pointer;
                width: 50px;
                height: 50px;
                z-index: 2;
                img {
                  padding: 17px 10px;
                  .transform(rotate(180deg));
                  z-index: 3;
                  position: relative;
                }
              }
              .icons {
                padding: 1rem 1rem 1.5rem;
                color: black;
                font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
                font-size: 1.125rem;
                overflow: hidden;
                .block {
                  margin: 1rem 0;
                  opacity: 1;
                  .icon {
                    width: 15%;
                    display: inline-block;
                    vertical-align: middle;
                  }
                  .text {
                    width: 77%;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 10px;
                  }
                }
              }

            }
            .pult {
              background: white;
              position: absolute;
              bottom: -100%;
              left: 0;
              width: 100%;
              height: ~"calc(120px * var(--size))";
              //height: auto;
              z-index: 2;
              opacity: 0;
              .box-sizing();
              padding: ~"calc(15px * var(--size))";
              border-top: 1px solid #d9e2ed;
              button {
                display: block;
                margin: 5px auto;
              }
              .more {
                display: none;
                font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
                text-transform: uppercase;
                color: white;
                font-size: .935rem;
                background: none;
                border: 2px solid white;
                .box-sizing();
                width: ~"calc(222px * var(--size))";
                padding: ~"calc(10px * var(--size)) calc(40px * var(--size))";
                cursor: pointer;
                outline: none;
                position: relative;
                background: white;
                &::after {
                  content: '';
                  background: url(../img/ten_knopki.png) no-repeat;
                  background-position: left top;
                  transform-origin: left top;
                  .transform(scale(var(--size)));
                  position: absolute;
                  display: block;
                  width: 277px;
                  height: 59px;
                  top: -2px;
                  left: -2px;
                  z-index: 1;
                }
              }
              .sale {
                font-family: Lato-Semibold, sans-serif;
                padding: 13px 15px 15px;
                font-size: ~"calc(1.25rem * var(--size))";
                width: ~"calc(50% / var(--size))";
                height: 50%;
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                //font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
                //text-transform: uppercase;
                ////color: white;
                //font-size: .935rem;
                //background: none;
                //border: 2px solid white;
                //padding: ~"calc(10px * var(--size)) calc(40px * var(--size))";
                //cursor: pointer;
                //outline: none;
                //position: relative;
                //.box-sizing();
                //width: ~"calc(240px * var(--size))";
                //.transition(all .3s);
                //margin: ~"calc(22px * var(--size))" auto;
                //background: white;
                //&::after {
                //  content: '';
                //  background: url(../img/ten_knopki.png) no-repeat;
                //  background-position: left top;
                //  transform-origin: left top;
                //  .transform(scale(var(--size)));
                //  position: absolute;
                //  display: block;
                //  width: 277px;
                //  height: 59px;
                //  top: 0;
                //  left: 13px;
                //  z-index: 1;
                //}
              }
              .scroller {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: -25px;
                border: 2px solid white;
                .rounded(50%);
                .box-sizing();
                cursor: pointer;
                width: 50px;
                height: 50px;
                z-index: 2;
                img {
                  padding: 17px 10px;
                  z-index: 3;
                  position: relative;
                }
                &::after {
                  content: '';
                  background: url(../img/ten_strelki.png);
                  position: absolute;
                  display: block;
                  width: 90px;
                  height: 67px;
                  top: 0;
                  left: 0;
                  z-index: 1;
                }
              }
            }
            &.item1 {
              .face {
                background: #fff url(../img/1.png) no-repeat right;
                background-size: contain;
              }

              .pult {
                //background: #caa803;
                .box-shadow(0, -10px, 20px, rgba(240, 244, 248, .7));
              }
              .icons{
                //background: #c89d00;
              }
              .shadow {
                //background: #c89d00;
                .desc {
                  //border-bottom: 1px solid #caa803;
                }
              }
              //svg {
              //  .str0 {stroke:#caa803;stroke-width:3.88505}
              //  .str1 {stroke:#FEFEFE;stroke-width:5.82784;stroke-linecap:round;stroke-linejoin:round}
              //  .fil0 {fill:none}
              //}
              .scroller {
                background: #c89d00;
              }
              .more.active {
                color: #c89d00;
              }
              //.sale{
              //  background: white;
              //  color: #c89d00;
              //}
            }
            &.item2 {
              .face{
                background: #fff url(../img/2.png) no-repeat right;
                background-size: contain;
              }
              //svg {
              //  .str0 {stroke:#534980;stroke-width:3.88505}
              //  .str1 {stroke:#FEFEFE;stroke-width:5.82784;stroke-linecap:round;stroke-linejoin:round}
              //  .fil0 {fill:none}
              //}
              .pult {
                //background: #534980;
                .box-shadow(0, -10px, 20px, rgba(240, 244, 248, .7));
              }
              .icons {
                //background: #473579;
              }
              .shadow {
                //background: #473579;

                .desc {
                  //border-bottom: 1px solid #534980;
                }
              }
              .scroller {
                background: #473579;
              }
              .more.active {
                color: #473579;
              }
              //.sale {
              //  color: #473579;
              //  background: white;
              //}
            }
            &.item3 {
              .face{
                background: #fff url(../img/3.png) no-repeat right;
                background-size: contain;
              }
              .pult {
                //background: #0d9ede;
                .box-shadow(0, -10px, 20px, rgba(240, 244, 248, .7));
              }
              .icons {
                //background: #0086c2;
              }
              .shadow {
                //background: #0086c2;
                .desc {
                  //border-bottom: 1px solid #0d9ede;
                }
              }
              .scroller {
                background: #0086c2;
              }
              .more.active {
                color: #0086c2;
              }
              //.sale {
              //  color: #0086c2;
              //  background: white;
              //}
            }
            &.item4 {
              .face {
                background: #fff url(../img/4.png) no-repeat right;
                background-size: contain;
              }
              .pult {
                //background: #48ac5f;
                .box-shadow(0, -10px, 20px, rgba(240, 244, 248, 1));
              }
              .icons {
                //background: #00973c;
              }
              .shadow {
                //background: #00973c;
                .desc {
                  //border-bottom: 1px solid #48ac5f;
                }
              }
              .scroller {
                background: #00973c;
              }
              .more.active {
                color: #00973c;
              }
              //.sale {
              //  color: #00973c;
              //  background: white;
              //}
            }
          }
        }
      }
      &.advantages {
        overflow: hidden;
        h5 {
          text-align: center;
          margin: 65px auto 0;
        }
        .button {
          font-family: Lato-Semibold, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
          //text-transform: uppercase;
          margin: 20px auto 60px;
          display: block;
          padding: 17px 80px 20px;
        }
        .advaContent {
          .flex-block();
          .flex-wrap(wrap);
          width: 100%;
          .box-sizing();
          padding: 65px 75px 0;
          .justify-content(space-between);
          .item {
            width: 32%;
            min-width: 260px;
            margin-bottom: 77px;
            .icon {
              display: inline-block;
              vertical-align: middle;
              width: 30%;
              height: 72px;
              .box-sizing();
              padding-right: 15px;
              text-align: center;
              svg {
                height: 85%;
              }
            }
            .description {
              display: inline-block;
              vertical-align: middle;
              width: 68%;
              font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
              font-size: 1.125rem;
            }
            &.item1 {
              .icon {
                svg {
                  //width: 220px;
                  //height: 179px;
                  .str0 {stroke:#707070;stroke-width:17.275;stroke-linecap:round;stroke-linejoin:round}
                  .fil0 {fill:none}
                  .fil1 {fill:#FFDD30}
                }
              }
            }
            &.item2 {
              .icon {
                svg {
                  //width: 175px;
                  //height: 178px;
                  .str0 {stroke:#707070;stroke-width:12.2953;stroke-linecap:round;stroke-linejoin:round}
                  .fil0 {fill:none}
                  .fil2 {fill:#707070}
                  .fil1 {fill:#FFE040}
                }
              }
            }
            &.item3 {
              .icon {
                svg {
                  //width: 184px;
                  //height: 192px;
                  .str0 {stroke:#707070;stroke-width:13.1497;stroke-linecap:round;stroke-linejoin:round}
                  .fil0 {fill:none}
                  .fil1 {fill:#FFE040}
                }
              }
            }
            &.item4 {
              .icon {
                svg {
                  //width: 198px;
                  //height: 198px;
                  .str0 {stroke:#707070;stroke-width:8.41872}
                  .str1 {stroke:#707070;stroke-width:8.41872;stroke-linecap:round;stroke-linejoin:round}
                  .fil1 {fill:none}
                  .fil0 {fill:#FFE040}
                  .fil2 {fill:#FEFEFE;fill-rule:nonzero}
                }
              }
            }
            &.item5 {
              .icon {
                svg {
                  //width: 194px;
                  //height: 195px;
                  .str0 {stroke:#707070;stroke-width:14.2768;stroke-linecap:round;stroke-linejoin:round}
                  .fil0 {fill:none}
                  .fil1 {fill:#FFE040}
                }
              }
            }
            &.item6 {
              .icon {
                svg {
                  //width: 205px;
                  //height: 167px;
                  .str0 {stroke:#707070;stroke-width:15.489;stroke-linecap:round;stroke-linejoin:round}
                  .fil2 {fill:none}
                  .fil1 {fill:#FEFEFE}
                  .fil0 {fill:#FFDB20}
                  .fil3 {fill:#FFDD30}
                }
              }
            }
          }
        }
      }
      &.reviews {
        overflow: hidden;
        background-image: url(../img/woodpattern.jpg), url(../img/backSlider.jpg);
        background-size: 14%, 10% 10%;
        background-repeat: repeat-x, repeat;
        background-position: left bottom, left top;
        h5 {
          text-align: left;
          margin: 0 auto .5rem;
          padding-top: ~"calc(30px * var(--size))";
          margin-left: ~"calc(607px * var(--size))";
        }
        .content {
          position: relative;
          height: ~"calc(395px * var(--size))";
          .arrow {
            top: 58px;
          }
          .prev {
            left: ~"calc(607px * var(--size))"
          }
          .left {
            background: url(../img/bullet.png) no-repeat;
            width: 607px;
            height: 395px;
            transform-origin: left top;
            .transform(scale(var(--size)));
            top: 0;
            left: 0;
            position: absolute;
            .flex-block();
            .justify-content(center);
            .align-items(center);
            .align-content(center);

            .inner {
              color: white;
              display: inline-block;
              width: 76%;
              position: relative;
              top: 7px;
              .bigNumbers {
                font-size: 120px;
                font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
                text-transform: uppercase;
                display: inline-block;
                vertical-align: baseline;
                margin-right: 20px;
              }
              .desc {
                display: inline-block;
                vertical-align: baseline;
              }
              .text1 {
                font-size: 26px;
                font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
                text-transform: uppercase;
              }
              .text2 {
                font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
                font-size: 20px;
              }
            }
          }
          .slider {
            //width: ~"calc(100% - {607px * @size})";
            margin-left: ~"calc(607px * var(--size))";
            padding: 0 2.1rem;
            .box-sizing();
            position: relative;
            outline: none;
            top: ~"calc(40px * var(--size))";
            > * {
              outline: none;
            }
            .monitor {
              width: ~"calc(351px * var(--size))";
              max-width: 320px;
              display: inline-block;
              vertical-align: top;
              background: url(../img/Vetal2.png);
              height: ~"calc(246px * var(--size))";
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              margin-right: ~"calc(20px * var(--size))";
              overflow: hidden;
              .box-sizing();
              //padding: .5rem 1.3rem 65px 1.3rem;
              position: relative;
              img {
                width: ~"calc(269px * var(--size))";
                max-width: 270px;
                margin: 0 auto;
                position: relative;
                z-index: -1;
              }
            }
            .description {
              font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
              //width: 62%;
              width: ~"calc(100% - (351px * var(--size)) - (50px * var(--size)))";
              display: inline-block;
              vertical-align: top;
              background: url(../img/kovOpen.png), url(../img/kovClose.png);
              background-repeat: no-repeat, no-repeat;
              background-position: left top, right bottom;
              .head {
                font-size: 1.25rem;
                text-align: right;
              }
              .mainText {
                font-size: 1rem;
              }
              .signature {
                font-size: 1.25rem;
                a {
                  color: @blueLighten;
                }
              }
            }
          }
        }
      }
      &.completeGoods {
        overflow: hidden;
        position: relative;
        h3 {
          text-align: center;
          margin: ~"calc(70px * var(--size)) auto calc(20px * var(--size))";
        }
        >p {
          text-align: center;
        }
        .tabs {
          width: 100%;
          max-width: 850px;
          margin: 0 auto;
          .flex-block();
          .align-items(center);
          .align-content(center);
          .justify-content(space-between);
          position: relative;
          .ebaline {
            background: rgb(162, 179, 224);
            width: 170px;
            height: 2px;
            position: absolute;
            bottom: 20px;
            left: 0;
            &::after {
              content: '';
              background-image: url(../img/podcherkivanie.png);
              position: absolute;
              height: 6px;
              width: 21px;
              bottom: -6px;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
          .item {
            cursor: pointer;
            position: relative;
            padding-bottom: 10px;
            //width: 200px;


            .ico {
              width: 30px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
              transform: scale(0.42);
              transform-origin: left;
              margin-right: -45px;
            }
            &.item1 {
              .ico {
//                .str0 {stroke:#2B2A29;stroke-width:15.8535;stroke-linecap:round;stroke-linejoin:round}
//                .fil0 {fill:none}
                  background-image: url(../img/spritesheetvetal.png);
                  background-repeat: no-repeat;
                  background-position: -5px -5px;
                  width: 94px;
                  height: 97px;
              }
                &.active {
                    .ico {
                        background-position: -5px -112px;
                    }
                }
              &:hover {
                .ico {
//                  .str0 {stroke:#2B2A29;stroke-width:2.37323;stroke-linecap:round;stroke-linejoin:round}
//                  .fil1 {fill:none}
//                  .fil0 {fill:#FFDD30}
                    background-position: -5px -112px;
                }
              }
            }
            &.item2 {
              .ico {
//                .str0 {stroke:#2B2A29;stroke-width:7.16651;stroke-linecap:round;stroke-linejoin:round}
//                .fil0 {fill:none}
                  background-image: url(../img/spritesheetvetal.png);
                  background-repeat: no-repeat;
                  background-position: -5px -219px;
                  width: 118px;
                  height: 97px;
              }
                &.active {
                    .ico {
                        background-position: -5px -326px;
                    }
                }
              &:hover {
                .ico {
//                  .str0 {stroke:#2B2A29;stroke-width:2.5018;stroke-linecap:round;stroke-linejoin:round}
//                  .fil1 {fill:none}
//                  .fil0 {fill:#FFDD30}
                    background-position: -5px -326px;
                }
              }
            }
            &.item3 {
              .ico {
//                .str0 {stroke:#2B2A29;stroke-width:739.79;stroke-linecap:round;stroke-linejoin:round}
//                .fil0 {fill:none}
                  background-image: url(../img/spritesheetvetal.png);
                  background-repeat: no-repeat;
                  background-position: -5px -433px;
                  width: 108px;
                  height: 97px;
              }
                &.active {
                    .ico {
                        background-position: -5px -540px;
                    }
                }
              &:hover {
                .ico {
//                  .str0 {stroke:#2B2A29;stroke-width:3.47341;stroke-linecap:round;stroke-linejoin:round}
//                  .fil1 {fill:none}
//                  .fil0 {fill:#FFDD30}
                    background-position: -5px -540px;
                }
              }
            }
            &.item4 {
              .ico {
//                .str0 {stroke:#2B2A29;stroke-width:8.60904;stroke-linecap:round;stroke-linejoin:round}
//                .fil0 {fill:none}
                  background-image: url(../img/spritesheetvetal.png);
                  background-repeat: no-repeat;
                  background-position: -5px -647px;
                  width: 97px;
                  height: 97px;
              }
            &.active {
                .ico {
                    background-position: -5px -754px;
                }
            }
              &:hover {
                .ico {
//                  str0 {stroke:#2B2A29;stroke-width:1.51803;stroke-linecap:round;stroke-linejoin:round}
//                  .fil1 {fill:none}
//                  .fil0 {fill:#FFDD30}
                    background-position: -5px -754px;
                }
              }
            }
          }
        }
        .tabs-content {
          margin: 25px 60px 70px;
          text-align: center;
          display: none;
          width: ~"calc(100% - 120px - 25%)";
          -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
          &.active {
            display: block;
          }
          .item {
            position: relative;
//            width: 22%;
            margin: 0 10px;
            display: inline-block;
            vertical-align: middle;
            &:hover .price {
                opacity: 0;
            }
            &:hover .overlay {
                opacity: 1;
                background: rgba(0, 36, 53, 0.8);
            }
            img {
              width: 100%;
            }
            .sale {
              position: absolute;
              left: 0;
              top: 30px;
              color: white;
              font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
              text-transform: uppercase;
              font-size: 1.125rem;
              background: #78b72d;
              .box-sizing();
              padding: 8px 12px 7px 12px;
              display: none;
            }
            .price {
              position: absolute;
              right: 0;
              top: 25px;
              background: url(../img/bluePrise.png) no-repeat;
              width: 130px;
              height: 54px;
              font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
              text-transform: uppercase;
              font-size: 1.5rem;
              color: white;
              .box-sizing();
              padding: 11px 0 12px;
              z-index: 1;
              opacity: 1;
              transition: 0.2s;
            }
              .overlay {
                width: 100%;
                height: 100%;
                transition: 0.2s;
                animation: fadeEffect;
                background: transparent;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                  //.title {
                  //    font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
                  //  text-transform: uppercase;
                  //    color: #fff;
                  //    text-transform: uppercase;
                  //    font-size: 1.4rem;
                  //    margin-top: 30px;
                  //  padding: 0 5px;
                  //}
                .title {
                  display: none;
                }
                  .pricebig {
                      font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
                    text-transform: uppercase;
                      color: #fff;
                      text-transform: uppercase;
                      font-size: 3rem;
                  }
                  .srok {
                      color: #8dbace;
                      margin: 10px 0 30px;
                  }
                  .button.viewDemo {
                    color: black;
                    text-transform: uppercase;
                    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
                    padding: 14px 23px 15px;
                    background: #ffd300;
                    &::before {
                      background: #e9b800;
                    }
                    &:hover {
                      color: black;
                    }
                    margin-bottom: 25px;
                  }
                  .button.zakaz {
                      position: relative;
                      color: #ffd202;
                      text-transform: uppercase;
                      //border: 2px solid #fff;
                    padding: 0;
                    span {
                      padding: 12px;
                      position: relative;
                      display: block;
                      &::before {
                        -webkit-transition-delay: 0s;
                        transition-delay: 0s;
                        top: 0;
                        -webkit-transform-origin: 0 50%;
                        transform-origin: 0 50%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        -webkit-transform: scale3d(0, 1, 1);
                        transform: scale3d(0, 1, 1);
                        content: '';
                        position: absolute;
                        background: #ffd202;
                        -webkit-transition: -webkit-transform 0.25s, background .25s;
                        transition: transform 0.25s, background .25s;
                        -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
                        transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
                      }
                      &::after {
                        -webkit-transition-delay: 0.25s;
                        transition-delay: 0.25s;
                        bottom: 0;
                        -webkit-transform-origin: 0 50%;
                        transform-origin: 0 50%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        -webkit-transform: scale3d(0, 1, 1);
                        transform: scale3d(0, 1, 1);
                        content: '';
                        position: absolute;
                        background: #ffd202;
                        -webkit-transition: -webkit-transform 0.25s, background .25s;
                        transition: transform 0.25s, background .25s;
                        -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
                        transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
                      }
                    }
                    &:hover {
                      color: white;
                      background: transparent;
                      box-shadow: none;
                      span {
                        &::before {
                          -webkit-transform: scale3d(1, 1, 1);
                          transform: scale3d(1, 1, 1);
                          background: #fff;
                          transition-delay: 0s;
                        }
                        &::after {
                          -webkit-transform: scale3d(1, 1, 1);
                          transform: scale3d(1, 1, 1);
                          background: #fff;
                          transition-delay: 0.25s;
                        }
                      }
                      &::before {
                        -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
                        background: #fff;
                        transition-delay: 0s;
                      }
                      &::after {
                        -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
                        background: #fff;
                        transition-delay: 0.25s;
                      }
                    }
                    &::before {
                      content: '';
                      position: absolute;
                      -webkit-transition: -webkit-transform 0.25s, background .25s;
                      transition: transform 0.25s, background .25s;
                      -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
                      transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
                      -webkit-transform-origin: 0% 0%;
                      transform-origin: 0% 0%;
                      -webkit-transition-delay: 0s;
                      transition-delay: 0s;
                      left: 0;
                      top: 0;
                      height: 100%;
                      width: 2px;
                      -webkit-transform: scale3d(1, 0, 1);
                      transform: scale3d(1, 0, 1);
                      background: #ffd202;
                    }
                    &::after {
                      content: '';
                      position: absolute;
                      -webkit-transition: -webkit-transform 0.25s, background .25s;
                      transition: transform 0.25s, background .25s;
                      -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
                      transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
                      -webkit-transform-origin: 50% 0%;
                      transform-origin: 50% 0%;
                      -webkit-transition-delay: 0.25s;
                      transition-delay: 0.25s;
                      right: 0;
                      top: 0;
                      height: 100%;
                      width: 2px;
                      -webkit-transform: scale3d(1, 0, 1);
                      transform: scale3d(1, 0, 1);
                      background: #ffd202;
                    }
                  }
                  .infocenter {
                      //margin-top: ~"calc(50% - 30px)";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 205px;
                  }
              }
          }
        }
        .converseBlock {
          width: 22%;
          position: absolute;
          bottom: 70px;
          right: 5%;
          height: 415px;
          svg {
            width: 100%;
            height: 100%;
          }
          .item {
            //-webkit-mask: url(../img/Back1.svg);
            clip-path: url(#clipLol);
            //-webkit-mask-size: 100% 100%;
            //-webkit-mask-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            img {
              width: 100%;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
            }
          }

          .block {
            background: url(../img/banner.png) no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            position: relative;
            .text {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 70%;
              margin: auto;
              text-align: center;
              padding: 0 2rem;
              .box-sizing();
              .bigText {
                font-family: Lato-Black, Arial, Helvetica, sans-serif;
                font-size: 2rem;
                margin: 1rem 0;
              }
              .smallText {
                font-family: Lato-Regular, Arial, Helvetica, sans-serif;
                font-size: 1.1rem;
                margin: 0;
              }
            }
            .button {
              position: absolute;
              bottom: 4vh;
              right: 0;
              left: 0;
              margin: auto;
              //text-transform: uppercase;
              height: 45px;
              width: 70%;
              padding: 7px 5px 10px;
              font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
            }
          }
        }
      }
      &.whyWe {
        background-image: url(../img/floor2.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        height: ~"calc(430px * var(--size))";
        position: relative;
        .flex-block();
        width: 100%;
        .stack {
          width: 33.3333333333%;
          position: relative;
          .babel {
            z-index: 5;
            transform-origin: center;
          }
          &.stack1 {
            .babel {
              background-image: url(../img/babel3.png);
              width: 385px;
              height: 141px;
              .box-sizing();
              padding: 35px 75px;
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
              top: 18px;
            }
            .green {
              background-image: url(../img/green.png);
              width: 209px;
              height: 256px;
              position: absolute;
              bottom: -4px;
              left: 50px;
              z-index: 2;
              transform-origin: bottom;
            }
            .tablet {
              background-image: url(../img/mobilePresent.png);
              width: 222px;
              height: 243px;
              position: absolute;
              bottom: -15px;
              left: 130px;
              z-index: 1;
              transform-origin: bottom;
            }
          }
          &.stack2 {
            h3 {
              text-align: center;
              margin-top: 30px;
            }
            .babel {
              background-image: url(../img/babel2.png);
              width: 326px;
              height: 89px;
              .box-sizing();
              padding: 25px 55px;
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
              top: 92px;
            }
            .domain {
              background-image: url(../img/ru.png);
              width: 312px;
              height: 161px;
              position: absolute;
              bottom: 0;
              z-index: 1;
              left: 0;
              transform-origin: bottom;
            }
            .coffee {
              background-image: url(../img/coffe.png);
              width: 283px;
              height: 125px;
              z-index: 2;
              position: absolute;
              bottom: 0;
              left: 180px;
              transform-origin: bottom;
            }
          }
          &.stack3 {
            .babel {
              background-image: url(../img/babel1.png);
              width: 469px;
              height: 177px;
              .box-sizing();
              padding: 35px 55px;
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
              top: 0;
              //transform-origin: 20%;
            }
            .cardholder {
              background-image: url(../img/money.png);
              width: 214px;
              height: 209px;
              z-index: 1;
              position: absolute;
              bottom: -12px;
              left: 60px;
              transform-origin: bottom;
            }
            .apple {
              background-image: url(../img/apple.png);
              width: 118px;
              height: 137px;
              z-index: 2;
              position: absolute;
              bottom: -2px;
              left: 220px;
              transform-origin: bottom;
            }
            .masjka {
              background-image: url(../img/cat.png);
              width: 106px;
              height: 107px;
              z-index: 3;
              position: absolute;
              bottom: 60px;
              right: 0;
              transform-origin: center;
            }
          }
        }
      }
      &.allin {
        background: white url(../img/man.jpg) no-repeat;
        background-size: 45%;
        background-position: right bottom;
        width: 100%;
        .content {
          .box-sizing();
          max-width: ~"calc(1000px * var(--size))";
          padding: ~"calc(100px * var(--size))";
          h3 {
            margin: 0;
          }
          h5 {
            margin: 0;
            padding: 1rem 0 2rem 0;
            //color: @blueLighten;
            font-size: 1.125rem;
            font-family: Lato-Regular, sans-serif;
            text-transform: none;
          }
          .list {
            .column(2, 1rem);
            -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
            page-break-inside: avoid; /* Firefox */
            break-inside: avoid; /* IE 10+ */
            .item {
              padding: 1rem 3.7rem;
              background: url(../img/galo4ka.png) no-repeat left center;
            }
          }
          .button {
            margin: 30px 0 0 0;
          }
        }
      }
      &.testdrive {
        background: url(../img/background.jpg) no-repeat;
        background-size: cover;
        text-align: right;
        height: ~"calc(650px * var(--size))";
        .flex-block();
        .justify-content(flex-end);
        .align-items(center);
        .content {
          text-align: left;
          max-width: ~"calc(900px * var(--size))";
          .box-sizing();
          padding: ~"calc(125px * var(--size)) calc(100px * var(--size)) 0";
          display: inline-block;
          //padding-top: 0;
          h3 {
            margin: 0;
            margin-bottom: 1.5rem;
          }
          .text {
            font-size: 1.125rem;
            font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
          }
          .button {
            margin-top: 2.5rem;
            position: relative;
            padding: 0;
            font-size: 18px;
            box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.21);
            outline: none;
            span {
              padding: 20px 47px 18px;
              display: block;
              z-index: 3;
              position: relative;
            }
            &::after {
              content: '';
              position: absolute;
              background: url(../img/shadow2.png) no-repeat;
              width: ~"calc(100% + 63px)";
              outline: none;
              height: 52px;
              bottom: -32px;
              left: -37px;
              background-size: contain;
              z-index: 1;
            }
          }
        }
      }
      &.time {
        background: url(../img/hand.jpg) no-repeat right center;
        background-size: 50%;
        height: ~"calc(650px * var(--size))";
        .flex-block();
        .justify-content(flex-start);
        .align-items(center);
        .content {
          text-align: left;
          max-width: ~"calc(750px * var(--size))";
          .box-sizing();
          padding: ~"calc(100px * var(--size))";
          display: inline-block;
          h3 {
            margin: 0;
            margin-bottom: 1.5rem;
          }
          .text {
            font-size: 1.125rem;
            font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
          }
          .button {
            margin-top: 1.5rem;
          }
        }
      }
    }
    >footer {
      background: #efefef;
      width: 100%;
      .box-sizing();
      padding: ~"calc(35px * var(--size)) calc(100px * var(--size)) calc(15px * var(--size))";
      .content {
        .flex-block();
        .justify-content(space-between);
        .align-items(top);
        .border {
          width: 1px;
          height: 100px;
          background: #d0d0d0;
        }
        .column {
          p.h {
            font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
            text-transform: uppercase;
            font-size: 1.125rem;
            padding-bottom: ~"calc(25px * var(--size))";
            display: block;
            margin: 0;
            border-bottom: 1px solid #cdcdcd;
          }
          > a {
            display: block;
            text-decoration: none;
            color: #000;
            font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
            font-size: 1rem;
            margin: 0.875rem 0;
            &:nth-of-type(1) {
              margin: 0 0 0.875rem 0;
            }
          }
          .logo {
            width: ~"calc(220px * var(--size))";
            margin: 0 0 1rem;
          }
          .icons {
            width: 100%;
            text-align: center;
            .item {
              display: inline-block;
              width: 45px;
              .box-sizing();
              padding: 0 5px 5px 0;
              &.item1 {
                svg {
                  .str0 {stroke:#D9DADA;stroke-width:15.6856}
                  .fil0 {fill:none}
                  .fil1 {fill:#044569;fill-rule:nonzero}
                }
              }
              &.item2 {
                svg {
                  .str0 {stroke:#D9DADA;stroke-width:1.94791}
                  .fil0 {fill:none}
                  .fil1 {fill:#044569}
                }
              }
              &.item3 {
                svg {
                  .str0 {stroke:#D9DADA;stroke-width:1.03843}
                  .fil0 {fill:none}
                  .fil1 {fill:#044569}
                }
              }
              &.item4 {
                svg {
                  .str0 {stroke:#D9DADA;stroke-width:0.707911}
                  .fil0 {fill:none}
                  .fil1 {fill:#044569}
                }
              }
            }
          }
          &.info {
            .button {
              padding: 7px 15px 11px;
              background: none;
              box-shadow: none;
              border: 1px solid @blueDarken;
              color: @blueDarken;
            }
            input {
              padding: 8.5px 15px;
              margin-right: 3px;
            }
          }
          &.owner {
            max-width: 255px;
            p {
              margin-top: 0;
              font-size: 20px;
            }
            input {
              padding: 5px 10px;
              display: block;
              margin: 15px 0;
            }
            a.button {
              padding: 16px 30px;
              background: none;
              box-shadow: none;
              border: 1px solid @blueDarken;
            }
            hr {
              color: #cdcdcd;
              margin: 1.5rem 0;
            }
            .tel {
              margin: 0;
              color: #000;
              span {
                font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
                font-size: 25px;
              }
            }
            a.button {
              text-align: center;
              font-family: Lato-Semibold, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
              //text-transform: uppercase;
              color: @blueDarken;
            }

          }
        }
      }
    }
  }
}



@media screen and (min-width: 1750px) {
  .modal {
    &.mainModal {
      height: 410px;
    }
    &.callUs {
      height: 335px;
    }
    &.success {
      height: 225px;
    }
  }
  .inner > .content .wrapper.mainBlock .lineCat .item {
    &.item1 {
      background-size: inherit;
    }
    &.item2 {
      background-size: inherit;
    }
    &.item3 {
      background-size: inherit;
    }
    &.item4 {
      background-size: inherit;
    }
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .pult .sale {
    font-size: ~"calc(1rem * var(--size))";
    width: ~"calc(65% / var(--size))";
  }
  .inner > .content .wrapper.whyWe .stack.stack1 .babel {
    top: 40px;
  }
  .inner > .content .wrapper.whyWe .stack.stack2 .babel {
    top: 120px;
  }
  .inner > .content .wrapper.whyWe .stack.stack3 .babel {
    top: 30px;
  }
  .inner > .content .wrapper.reviews .content .slider {
    padding: 0 2.2rem;
  }
  .inner > .content .wrapper.reviews .content .slider .monitor {
    //width: 38%;
    //padding: .5rem 1rem 65px 1rem;
  }
  .inner > .content .wrapper.reviews .content .slider .description {
    width: 59%;
  }
}
@media screen and(max-width: 1441px) {
  .inner {
      aside.sideMenu {
        width: 260px;
        .logo {
          //padding: 3vh 0 0 0;
          img {
            width: 214px;
          }
          p {
            margin: 1vh auto 0;
            width: 214px;
          }
        }
        .buttonMain {
          .button {
            margin: 2.5vh auto;
          }
        }
        .social {
          //display: none;
        }
        //nav.mainMenu {
        //  padding: 2vh 0 0 0;
        //}
      }
    > .content {
      width: ~"calc(100% - 260px)";
      margin-left: 260px;
      > header {
        width: ~"calc(100% - 260px)";
      }
    }
  }
  .inner > .content .wrapper.mainBlock .formDeal .button {
    font-size: 1.65rem;
  }
  .inner > .content .wrapper.mainBlock .lineCat {
    height: ~"calc(300px * var(--size))";
  }
  .inner > .content .wrapper.mainBlock .lineCat {
    .item {
      padding: ~"calc(4.5rem * var(--size)) 1.5rem calc(1rem * var(--size)) 1.5rem";
      .face {
        .more {
          padding: ~"calc(10px * var(--size)) calc(44px * var(--size))";
          padding-bottom: 0;
          padding-left: 0;
        }
      }
    }
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .more {
    //display: none;
  }
  .inner > .content .wrapper.advantages .advaContent .item {
    width: 50%;
  }
  .inner > .content .wrapper.whyWe .stack {
    &.stack1 {
      .babel {
        top: -10px;
      }
    }
    &.stack2 {
      .babel {
        top: 85px;
      }
    }
    &.stack3 {
      .babel {
        top: -10px;
        transform-origin: 20%;
      }
    }
  }
  //.inner > .content .wrapper.reviews .content .slider .monitor {
  //  width: 35%;
  //  img {
  //    width: 99%;
  //  }
  //}
  //.inner > .content .wrapper.reviews .content .slider .description {
  //  width: 60%;
  //}
}
@media screen and(max-width: 1345px) {
  .inner > .content .wrapper.mainBlock .lineCat .item .price span {
    display: none;
  }
}
@media screen and(max-width: 1300px) {
  .inner > .content > header .mobile {
    display: block;
    cursor: pointer;
  }

  .inner > .content {
    width: 100%;
    margin-left: 0;
  }
  .inner > .content > header {
    width: 100%;
    margin-left: 0;
  }

  .inner aside.sideMenu {
    z-index: 23;
    .transform(translateX(-100%));
    .close {
      display: block;
    }
  }
}

@media screen and(max-width: 800px) {
  .inner > .content .wrapper.completeGoods .converseBlock {
    position: initial;
    .box-sizing();
    padding: 2rem;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  .modal {
    max-width: 320px;
  }
  .inner > .content .wrapper.mainBlock .formDeal {
    top: ~"calc(var(--topDeal) / 3)";
    .flex-wrap(wrap);
  }
  .mobile8 {
    display: none!important;
  }
  .inner > .content .wrapper.reviews .content .slider {
    margin-left: 0;
  }
  .inner > .content .wrapper.completeGoods .tabs-content {
    width: ~"calc(100% - 120px)";
    .owl-nav .owl-next {
      left: 95%;
    }
  }
  .inner > .content .wrapper.whyWe .stack .babel {
    transform-origin: 10% top;
  }
  .to {
    transform-origin: 10% bottom!important;
  }
  .inner > .content .wrapper.whyWe .stack.stack3 .babel {
    transform-origin: left top!important;
  }
  .inner > .content .wrapper.allin {
    background: white;
  }
  .inner > .content .wrapper.allin .content {
    max-width: 100%;
    text-align: center;
  }
  .inner > .content .wrapper.testdrive {
    background: white;
  }
  .inner > .content .wrapper.testdrive .content {
    max-width: 100%;
  }
  .inner > .content > footer .content .border {
    display: none;
  }
}

@media screen and(max-width: 500px) {
  .inner > .content .wrapper.completeGoods .converseBlock {
    height: 470px!important;
  }
  html {
    font-size: 14px;
  }
  .mobile5 {
    display: none!important;
  }
  .inner > .content > header.mobile55 {
    z-index: 3;
  }
  .item.burger {
    width: 25px;
    height: 25px;
    position: relative;
    padding: 0!important;
    margin: 10px 0;
    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .bur {
      opacity: 1;
      cursor: pointer;
      z-index: 2;
    }
    .cross {
      cursor: pointer;
      opacity: 0;
    }
  }
  .mobile55 {
    display: flex!important;
    justify-content: space-between!important;
    &.mainh {
      justify-content: center!important;
      margin-top: 80px;
      font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
      text-transform: uppercase;
    }
    &.h5 {
      justify-content: center!important;
      font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
      text-transform: uppercase;
    }
    .logo {
      width: 130px;
      height: 39px;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
      .color {
        position: absolute;
        top: 14px;
        left: 0;
        opacity: 1;
      }
      .white {
        position: absolute;
        top: 14px;
        left: 0;
        opacity: 0;
      }
    }
  }
  .inner > .content .wrapper.mainBlock {
    background: white;
    height: 100%;
    z-index: 2;
  }
  .inner > .content .wrapper.mainBlock .lineCat {
    position: relative;
    flex-direction: column;
    height: 100%;
    padding: 0;
    .item {
      margin-left: 0;
      width: 100%;
      min-height: 171px;
      position: relative;
      .arrow {
        display: none;
      }
      &::after {
        content: '';
        background: url(../img/mobile/triangle.svg);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        margin: auto;
        width: 8px;
        height: 17px;
      }
      .shadow {
        //height: auto;
        .pult {
          position: relative;
          height: 120px;
          padding: 15px;
          box-shadow: none!important;
          bottom: 0;
          .scroller {
            display: none;
          }
          .sale {
            --size: .8;
            margin: 25px auto;
            &::after {
              top: 2px;
            }
          }
          opacity: 1;
        }
      }
      &.item1 {
        //background: #fff url(../img/1.png) no-repeat ~"calc(100% - 2rem)" 1.5rem;
        //background-size: ~"calc(30% * var(--size))";
      }
      &.item2 {
        //background: #fff url(../img/2.png) no-repeat ~"calc(100% - 2rem)" 1.5rem;
        //background-size: ~"calc(30% * var(--size))";
      }
      &.item3 {
        //background: #fff url(../img/3.png) no-repeat ~"calc(100% - 2rem)" 1.5rem;
        //background-size: ~"calc(30% * var(--size))";
      }
      &.item4 {
        //background: #fff url(../img/4.png) no-repeat ~"calc(100% - 2rem)" 1.5rem;
        //background-size: ~"calc(30% * var(--size))";
      }
    }
  }
  .inner > .content .wrapper.advantages .advaContent {
    padding: 20px;
    .item {
      width: 100%;
      margin-bottom: 25px;
    }
  }
  .inner > .content .wrapper.advantages .button {
    display: none;
  }
  .inner > .content .wrapper.reviews {
    background: white;
    h5 {
      text-align: center;
      margin-left: inherit;
    }
  }
  .inner > .content .wrapper.reviews .content {
    height: 100%;
  }
  .inner > .content .wrapper.reviews .content .slider .description {
    width: 100%;
    padding: 50px 30px;
    .box-sizing();
  }
  .inner > .content .wrapper.reviews .content .arrow {
    top: 45%;
  }
  .inner > .content .wrapper.whyWe {
    background: url(../img/mobile/fon.png);
    height: auto;
    flex-direction: column;
    overflow: hidden;
    .stack {
      width: 100%;
      height: 280px;
      &.stack1 {
        .green {
          z-index: 7;
          bottom: 70px;
          left: 20%;
        }
        .tablet {
          z-index: 6;
          left: 45%;
          bottom: 55px;
        }
        h5 {
          margin: 25px 0;
        }
        .babel {
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          top: initial;
          transform-origin: left bottom;
        }
      }
      &.stack2 {
        height: 185px;
        .domain {
          left: 35px;
          bottom: 50px;
        }
        .coffee {
          left: 150px;
          bottom: 43px;
        }
        .babel {
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          top: initial;
          transform-origin: left bottom;
        }
      }
      &.stack3 {
        .cardholder {
          left: 90px;
          bottom: 110px;
        }
        .apple {
          left: 208px;
          bottom: 110px;
        }
        .babel {
          bottom: 10px;
          left: 0;
          right: 0;
          margin: auto;
          top: initial;
          transform-origin: left bottom!important;
        }
      }
    }
  }
  .inner > .content .wrapper.time .content {
    padding: 20px;
    h3 {
      font-size: 1.8rem;
      width: 70%;
    }
    p {
      width: 70%;
    }
    .button {
      width: 100%;
      &.mobile55 {
        text-align: center;
        justify-content: center!important;
      }
    }
  }
  .inner > .content .wrapper.time {
    background: url(../img/hand.jpg) no-repeat 125% center;
    background-size: 50%;
  }
  .inner > .content > footer {
    padding: 20px;
    .content {
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
      .contacts {
        order:1;
      }
      .owner {
        order: 2;
      }
      .tp {
        order: 3;
        br {
          display: none;
        }
      }
    }
  }
  .modal.shagModal {
    padding: 1rem;
    .lineSteps {
      display: none;
    }
    form .button {
      padding: 15px 20px 16px;
    }
  }
  .modal {
    height: 90%!important;
    .box-sizing();
    bottom: 0;
    top: initial;
    max-width: 100%;
    padding: 2rem;
    &.menuMobile {
      .button {
        width: 100%;
        padding: 20px;
      }
      a.button {
        .box-sizing();
        width: 100%;
        padding: 20px;
      }
    }
    .owner {
      margin: 40px auto;
      max-width: 255px;
      p {
        margin-top: 0;
        font-size: 20px;
      }
      input {
        padding: 5px 10px;
        display: block;
        margin: 15px 0;
      }
      a.button {
        padding: 16px 0;
      }
      hr {
        color: #cdcdcd;
        margin: 1.5rem 0;
      }
      .tel {
        margin: 0;
        color: #000;
        text-decoration: none;
        span {
          font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
          font-size: 25px;
        }
      }
      a.button {
        font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif; letter-spacing: 0.3px;
        text-transform: uppercase;
        color: white;
      }
    }
  }
  .inner > .content .wrapper.completeGoods .tabs-content {
    padding: 0px;
    margin: 0;
    width: 100%;
    display: none;
    &.active {
      display: none;
    }
  }
  .inner > .content .wrapper.completeGoods > p {
    display: none;
  }
  .inner > .content .wrapper.completeGoods > h5 {
    display: none!important;
  }
  .inner > .content .wrapper.completeGoods .tabs {
    display: none;
  }
  .arrow {
    top: 120px;
  }
  .inner > .content .wrapper.completeGoods .arrow {
    top: 0;
  }
  .inner > .content .wrapper.reviews .content .prev {
    left: 20px;
  }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  .scalableIpad {
    -webkit-transform: scale(0.8)!important;
    -moz-transform: scale(0.8)!important;
    -ms-transform: scale(0.8)!important;
    -o-transform: scale(0.8)!important;
    transform: scale(0.8)!important;
  }
  .inner > .content .wrapper.mainBlock .keyboard {
    left: 45%;
    top: 46%;
  }
  .inner > .content .wrapper.mainBlock .arroww {
    left: 46%;
    top: 49%;
  }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px) {
  .scalableIpad {
    -webkit-transform: scale(0.8)!important;
    -moz-transform: scale(0.8)!important;
    -ms-transform: scale(0.8)!important;
    -o-transform: scale(0.8)!important;
    transform: scale(0.8)!important;
  }
  .inner > .content .wrapper.mainBlock .keyboard {
    left: 51%;
    top: 46%;
  }
  .inner > .content .wrapper.mainBlock .arroww {
    left: 52%;
    top: 52%;
  }
}

@media only screen and(max-device-width: 1278px) and (min-device-height : 800px) {
  .inner > .content .wrapper.mainBlock .formDeal {
    .transform(scale(.8));
  }
  .inner > .content .wrapper.mainBlock .arroww {
    .transform(scale(.8));
    left: ~"calc(var(--leftDeal) + (565px * .8))";
    top: ~"calc(var(--topDeal) + (265px * .8))";
  }
  .inner > .content .wrapper.mainBlock .keyboard {
    .transform(scale(.8));
    left: ~"calc(var(--leftDeal) + (535px * .8))";
    top: ~"calc(var(--topDeal) + (190px * .8))";
  }
}