/*
* @autor: Vetal
* mixins framework
*/
/* Размытие */
/* Внешняя тень */
/* Пуленепробиваемый background-size */
/* Тень к тексту */
/* Обводка текста
*  @color - цвет обводки
*  @width - ширина обводки
*/
/* Закругления */
/* @count - определяет количество колонок в многоколоночном тексте,
 а @gap - задаёт расстояние между колонками. */
/*
* Устанавливаем эффект перехода
* между двумя состояниями элемента
* (например обычным состоянием и :hover)
* @property - свойство
* @duration - продолжительность изменения
* @function - график движения
*/
/*
* Трансформируем элемент,
* в частности, можем его масштабировать,
* вращать, сдвигать, наклонять, а также
* комбинировать виды трансформаций.
* @value - название функции и ее значения:
* scale(x) - масштабирование
* rotate(градусы) - поворот
* translate(горизонталь, вертикаль) - сдвиг
* (!) Запятую между функциями ставить не нужно
*/
@font-face {
  font-family: UniSansHeavyCAPS;
  src: url("../fonts/kit/subset-UniSansHeavyCaps.ttf");
  src: url("../fonts/kit/subset-UniSansHeavyCaps.eot");
  src: url("../fonts/kit/subset-UniSansHeavyCaps.eot?#iefix") format("embedded-opentype"), url("../fonts/kit/subset-UniSansHeavyCaps.woff") format("woff"), url("../fonts/kit/subset-UniSansHeavyCaps.ttf") format("truetype"), url("../fonts/kit/subset-UniSansHeavyCaps.svg#UniSansHeavyCAPS") format("svg");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/kit/Lato-Black.ttf");
  src: url("../fonts/kit/Lato-Black.eot");
  src: url("../fonts/kit/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/kit/Lato-Black.woff") format("woff"), url("../fonts/kit/Lato-Black.ttf") format("truetype"), url("../fonts/kit/Lato-Black.svg#Lato-Black") format("svg");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/kit/Lato-Regular.ttf");
  src: url("../fonts/kit/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kit/Lato-Regular.woff") format("woff"), url("../fonts/kit/Lato-Regular.ttf") format("truetype"), url("../fonts/kit/Lato-Regular.svg#Lato-Regular") format("svg");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Lato-Semibold";
  src: url("../fonts/kit/Lato-Semibold.ttf");
  src: url("../fonts/kit/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/kit/Lato-Semibold.woff") format("woff"), url("../fonts/kit/Lato-Semibold.ttf") format("truetype"), url("../fonts/kit/Lato-Semibold.svg#Lato-Regular") format("svg");
  font-style: normal;
  font-weight: 100;
}
b {
  font-weight: bold;
}
p {
  font-weight: 100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 100;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button {
  padding: 17px 47px 22px;
  font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.button.blue {
  color: white;
  background-image: -moz-linear-gradient(0deg, #0d9ede 0%, #13b5ef 76%, #19ccff 100%);
  background-image: -webkit-linear-gradient(0deg, #0d9ede 0%, #13b5ef 76%, #19ccff 100%);
  background-image: -ms-linear-gradient(0deg, #0d9ede 0%, #13b5ef 76%, #19ccff 100%);
  background-image: linear-gradient(0deg, #0d9ede 0%, #13b5ef 76%, #19ccff 100%);
  box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.3), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.21);
}
.button.uni {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.button span {
  z-index: 2;
  position: relative;
  vertical-align: middle;
}
.button:hover {
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.5), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.21);
  background-image: -moz-linear-gradient(0deg, #0d9ede 0%, #13c5ef 76%, #19ecff 100%);
  background-image: -webkit-linear-gradient(0deg, #0d9ede 0%, #13c5ef 76%, #19ecff 100%);
  background-image: -ms-linear-gradient(0deg, #0d9ede 0%, #13c5ef 76%, #19ecff 100%);
  background-image: linear-gradient(0deg, #0d9ede 0%, #13c5ef 76%, #19ecff 100%);
}
h3 {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 2.825rem;
  color: #000;
}
h5 {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #000;
}
html {
  --size: .78;
  font-size: 14px;
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  --topDeal: calc(50% - (410px * var(--size)) + (120px * var(--size)));
  --leftDeal: calc(20% * var(--size));
}
body {
  position: relative;
}
.scalable {
  transform-origin: left top;
  -webkit-transform: scale(var(--size));
  -moz-transform: scale(var(--size));
  -ms-transform: scale(var(--size));
  -o-transform: scale(var(--size));
  transform: scale(var(--size));
}
#ascrail2000 {
  cursor: pointer!important;
}
.scalableForm {
  -webkit-transform: scale(0.88);
  -moz-transform: scale(0.88);
  -ms-transform: scale(0.88);
  -o-transform: scale(0.88);
  transform: scale(0.88);
}
@media screen and (max-width: 1200px) {
  html {
    --size: .55;
    font-size: 12px;
  }
  .scalable {
    -webkit-transform: scale(var(--size));
    -moz-transform: scale(var(--size));
    -ms-transform: scale(var(--size));
    -o-transform: scale(var(--size));
    transform: scale(var(--size));
  }
  .scalableForm {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -o-transform: scale(0.65);
    transform: scale(0.65);
  }
}
@media screen and (max-width: 1441px) {
  html {
    --size: .65;
    font-size: 12px;
  }
  .scalable {
    -webkit-transform: scale(var(--size));
    -moz-transform: scale(var(--size));
    -ms-transform: scale(var(--size));
    -o-transform: scale(var(--size));
    transform: scale(var(--size));
  }
  .scalableForm {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@media screen and (min-width: 1850px) {
  html {
    --size: 1;
    font-size: 16px;
  }
  .scalable {
    -webkit-transform: scale(var(--size));
    -moz-transform: scale(var(--size));
    -ms-transform: scale(var(--size));
    -o-transform: scale(var(--size));
    transform: scale(var(--size));
  }
  .scalableForm {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.mobile55 {
  display: none!important;
}
#layout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: 20;
}
.modal {
  background: white;
  max-width: 400px;
  will-change: transform;
  overflow: auto;
  padding: 2rem 5rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 21;
  visibility: hidden;
  text-align: center;
}
.modal.mainModal {
  height: 430px;
}
.modal.callUs {
  height: 355px;
}
.modal.success {
  height: 245px;
}
.modal.shagModal {
  height: 430px;
  max-width: 460px;
  padding: 2rem 9rem;
}
.modal.shagModal .lineSteps {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  margin: auto;
  width: 10px;
  height: 120px;
}
.modal.shagModal .lineSteps .line {
  width: 1px;
  height: 100px;
  background: #b4e2f0;
  margin: auto;
}
.modal.shagModal .lineSteps .step {
  width: 10px;
  height: 10px;
}
.modal.shagModal .lineSteps .step.activeStep {
  background: url(../img/rombBlue.png) no-repeat;
}
.modal.shagModal .lineSteps .step.inactiveStep {
  background: url(../img/rombLight.png) no-repeat;
}
.modal.shagModal form {
  position: relative;
}
.modal.shagModal form .action-2 {
  position: absolute;
  left: 0;
}
.modal.shagModal form .action-2.gra {
  top: 0;
}
.modal.shagModal form .action-2.laba {
  top: 90px;
}
.modal.shagModal form .button {
  text-transform: uppercase;
  font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
  padding: 15px 30px 16px;
}
.modal.shagModal form .sub {
  display: none;
}
.modal.shagModal form .sub img {
  position: relative;
  z-index: 2;
  margin-left: 15px;
  top: 1px;
  vertical-align: middle;
}
.modal.shagModal form .next img {
  position: relative;
  z-index: 2;
  margin-left: 15px;
  top: 1px;
  vertical-align: middle;
}
.modal.shagModal form .prev {
  display: none;
  background: transparent;
  color: #0d9ede;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal.shagModal form .prev::before {
  background: #dcf4ff;
}
.modal.shagModal form .prev img {
  position: relative;
  z-index: 2;
  margin-right: 15px;
  top: 1px;
  vertical-align: middle;
}
.modal input,
.modal textarea {
  width: 100%;
  margin: 8px 0;
  border: 1px solid #989898;
  font-size: 1rem;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.modal input::-webkit-input-placeholder,
.modal textarea::-webkit-input-placeholder {
  color: #989898;
}
.modal input::-moz-placeholder,
.modal textarea::-moz-placeholder {
  color: #989898;
}
.modal input:-moz-placeholder,
.modal textarea:-moz-placeholder {
  color: #989898;
}
.modal input:-ms-input-placeholder,
.modal textarea:-ms-input-placeholder {
  color: #989898;
}
.modal textarea {
  resize: none;
  height: 5rem;
}
.modal .button {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-top: 20px;
}
.modal h5 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
}
.modal p {
  font-size: 1.2rem;
}
.modal .close {
  background: url(../img/zakryt.png) no-repeat center;
  width: 14px;
  height: 14px;
  cursor: pointer;
  right: 0;
  top: 0;
  padding: 10px 10px 20px 20px;
  position: absolute;
}
.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 7%;
  z-index: 2;
}
.arrow.prev {
  left: 20px;
  background: url(../img/left.png);
  width: 13px;
  height: 48px;
  cursor: pointer;
}
.arrow.next {
  right: 20px;
  background: url(../img/right.png);
  width: 13px;
  height: 48px;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
}
.b24-widget-button-position-bottom-left {
  left: 100px!important;
}
.inner {
  position: relative;
  width: 100%;
}
.inner aside.sideMenu {
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.15);
  background: #fff;
  z-index: 3;
}
.inner aside.sideMenu .close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(../img/zakryt.png) no-repeat center;
  width: 14px;
  height: 14px;
  padding: 10px;
  display: none;
}
.inner aside.sideMenu .logo {
  text-align: center;
  padding: 8vh 0 0 0;
}
.inner aside.sideMenu .logo img {
  width: calc(254px * var(--size));
  max-width: 200px;
}
.inner aside.sideMenu .logo p {
  font-size: 1.125rem;
  width: 244px;
  text-align: center;
  margin: 1em auto 0;
  color: #626161;
}
.inner aside.sideMenu nav.mainMenu {
  letter-spacing: 0.05em;
  font-family: Lato-Black, Arial, Helvetica, sans-serif;
  padding: 5vh 0 5vh 0;
}
.inner aside.sideMenu nav.mainMenu > * {
  padding: 8px 2em;
}
.inner aside.sideMenu nav.mainMenu a {
  color: #31527b;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
}
.inner aside.sideMenu nav.mainMenu .category {
  padding-left: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  background: url(../img/svg/longdot.svg) no-repeat 2rem center;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.inner aside.sideMenu nav.mainMenu .category:nth-last-child(1) .wrapper {
  border-bottom: none;
}
.inner aside.sideMenu nav.mainMenu .category .wrapper {
  border-bottom: 1px solid #f2f2f2;
}
.inner aside.sideMenu nav.mainMenu .category .wrapper a {
  padding-left: 1rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: block;
}
.inner aside.sideMenu nav.mainMenu .category:hover,
.inner aside.sideMenu nav.mainMenu .category.active {
  background-color: #f2f2f2;
}
.inner aside.sideMenu nav.mainMenu .completeWork {
  background: #f7f7f7;
}
.inner aside.sideMenu nav.mainMenu .completeWork > * {
  padding: 11px 0;
}
.inner aside.sideMenu nav.mainMenu .completeWork p {
  margin: 0;
}
.inner aside.sideMenu nav.mainMenu .completeWork .itemMenu {
  position: relative;
  padding-left: 2rem;
  background: url(../img/svg/dot.svg) no-repeat 4% center;
}
.inner aside.sideMenu nav.mainMenu .completeWork .itemMenu .special {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 28px;
  font-size: .75rem;
  font-family: "Lato-Black", Arial, Helvetica, sans-serif;
  color: #31527b;
  background: #e9e9e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  margin: auto;
}
.inner aside.sideMenu .buttonMain {
  background: #f0f4f8;
  border-top: 1px solid #d7e1ec;
  border-bottom: 1px solid #d7e1ec;
  text-align: center;
}
.inner aside.sideMenu .buttonMain .button {
  display: inline-block;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 25px auto;
}
.inner aside.sideMenu .social {
  text-align: center;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: replace(center, "flex-", "");
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 17vh;
}
.inner aside.sideMenu .social p {
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: #626161;
  margin-top: 0;
}
.inner aside.sideMenu .social .icons {
  width: 100%;
}
.inner aside.sideMenu .social .icons .item {
  display: inline-block;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}
.inner aside.sideMenu .social .icons .item.item1 svg .str0 {
  stroke: #D9DADA;
  stroke-width: 15.6856;
}
.inner aside.sideMenu .social .icons .item.item1 svg .fil0 {
  fill: none;
}
.inner aside.sideMenu .social .icons .item.item1 svg .fil1 {
  fill: #044569;
  fill-rule: nonzero;
}
.inner aside.sideMenu .social .icons .item.item2 svg .str0 {
  stroke: #D9DADA;
  stroke-width: 1.94791;
}
.inner aside.sideMenu .social .icons .item.item2 svg .fil0 {
  fill: none;
}
.inner aside.sideMenu .social .icons .item.item2 svg .fil1 {
  fill: #044569;
}
.inner aside.sideMenu .social .icons .item.item3 svg .str0 {
  stroke: #D9DADA;
  stroke-width: 1.03843;
}
.inner aside.sideMenu .social .icons .item.item3 svg .fil0 {
  fill: none;
}
.inner aside.sideMenu .social .icons .item.item3 svg .fil1 {
  fill: #044569;
}
.inner aside.sideMenu .social .icons .item.item4 svg .str0 {
  stroke: #D9DADA;
  stroke-width: 0.707911;
}
.inner aside.sideMenu .social .icons .item.item4 svg .fil0 {
  fill: none;
}
.inner aside.sideMenu .social .icons .item.item4 svg .fil1 {
  fill: #044569;
}
.inner > .content {
  width: calc(100% - 260px);
  margin-left: 260px;
  z-index: 1;
  position: relative;
}
.inner > .content > header {
  background: white;
  width: calc(100% - 260px);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 3;
  padding: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: replace(space-around, "flex-", "");
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -moz-align-content: center;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 60px;
}
.inner > .content > header .border {
  width: 1px;
  height: 35px;
  background: #e2e2e2;
}
.inner > .content > header .mobile {
  display: none;
}
.inner > .content > header .item {
  text-align: center;
  padding: 10px 0;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.inner > .content > header .item a {
  color: #0e517d;
}
.inner > .content > header .item.online svg {
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
}
.inner > .content > header .item.online svg .fil0 {
  fill: #0E517D;
  fill-rule: nonzero;
}
.inner > .content > header .item.like {
  padding: 5px 0;
  position: relative;
}
.inner > .content > header .item.like .col {
  color: #0e517d;
  text-decoration: none;
  position: absolute;
  font-size: .6rem;
  top: 4px;
  left: 23px;
}
.inner > .content > header .item.like svg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.inner > .content > header .item.like .heartSvg {
  fill: #0E517D;
  fill-rule: nonzero;
}
.inner > .content > header .item.city span {
  color: #0e517d;
  cursor: pointer;
  border-bottom: 1px dashed #0E517D;
}
.inner > .content > header .item.callme svg {
  vertical-align: middle;
  width: 20px;
  margin-right: 8px;
}
.inner > .content > header .item .phoneimg {
  vertical-align: middle;
  margin-right: 8px;
}
.inner > .content > header .item.callme svg .fil0 {
  fill: #0e517d;
}
.inner > .content > header .item.callus {
  border-right: none;
  padding-right: 0;
}
.inner > .content > header .item.callus img {
  vertical-align: middle;
}
.inner > .content > header .item.callus a {
  color: #0e517d;
  vertical-align: baseline;
}
.inner > .content .wrapper {
  z-index: 1;
}
.inner > .content .wrapper.mainBlock {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/fonnn.jpg);
  overflow: hidden;
}
.inner > .content .wrapper.mainBlock .layer {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.inner > .content .wrapper.mainBlock .formDeal {
  display: flex;
  position: absolute;
  transform-origin: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: replace(center, "flex-", "");
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  top: 20%;
}
.inner > .content .wrapper.mainBlock .formDeal .grayLine {
  background: #b9b9b9;
  width: 2px;
  min-width: 2px;
  height: 250px;
  margin: 0 3.5vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.inner > .content .wrapper.mainBlock .formDeal h1 {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 55px;
  margin: 0;
  line-height: 1.2;
  width: 660px;
}
.inner > .content .wrapper.mainBlock .formDeal .line {
  height: 3px;
  width: 130px;
  background: #0d9ede;
  margin: 20px 0;
}
.inner > .content .wrapper.mainBlock .formDeal form {
  outline: none;
  padding: 2px;
  width: 340px;
}
.inner > .content .wrapper.mainBlock .formDeal form p {
  font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.inner > .content .wrapper.mainBlock .formDeal form input {
  padding: 14px 10px 15px 50px;
  background: #ffffff url(../img/svg/phone.svg) no-repeat 15px center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #9dc3d8;
  font-size: 20px;
  color: #000;
  font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
  position: relative;
  outline: none;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.inner > .content .wrapper.mainBlock .formDeal form input::-webkit-input-placeholder {
  color: #000;
}
.inner > .content .wrapper.mainBlock .formDeal form input::-moz-placeholder {
  color: #000;
}
.inner > .content .wrapper.mainBlock .formDeal form input:-moz-placeholder {
  color: #000;
}
.inner > .content .wrapper.mainBlock .formDeal form input:-ms-input-placeholder {
  color: #000;
}
.inner > .content .wrapper.mainBlock .formDeal form input + p {
  position: absolute;
}
.inner > .content .wrapper.mainBlock .formDeal p {
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin: 0;
  margin-bottom: 20px;
  width: 650px;
}
.inner > .content .wrapper.mainBlock .formDeal .button {
  padding: 17px 45px;
  font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}
.inner > .content .wrapper.mainBlock .coffee {
  position: absolute;
  background: url(../img/coffeHead.png);
  height: 253px;
  width: 287px;
  left: calc(-120px * var(--size));
}
.inner > .content .wrapper.mainBlock .monitor {
  position: absolute;
  background: url(../img/screen.png);
  height: 467px;
  width: 1299px;
  left: calc(750px * var(--size));
  top: calc(-110px * var(--size));
  z-index: 2;
}
.inner > .content .wrapper.mainBlock .keyboard {
  position: absolute;
  background: url(../img/keyboard.png);
  height: 279px;
  width: 475px;
  right: calc(-170px / var(--size));
  bottom: calc(35px / var(--size));
  z-index: 2;
}
.inner > .content .wrapper.mainBlock .mouse {
  position: absolute;
  background: url(../img/mouse.png);
  height: 156px;
  width: 165px;
  left: calc(-35px * var(--size));
  bottom: calc(300px * var(--size));
  z-index: 1;
}
.inner > .content .wrapper.mainBlock .lineCat {
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 10px;
  width: 100%;
  height: calc(260px * var(--size));
  display: flex;
  z-index: 3;
}
.inner > .content .wrapper.mainBlock .lineCat .item {
  width: 25%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: calc(3rem * var(--size)) 1.5rem calc(1rem * var(--size)) 1.5rem;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  background: #fff;
}
.inner > .content .wrapper.mainBlock .lineCat .item .face {
  background-size: contain;
  cursor: pointer;
}
.inner > .content .wrapper.mainBlock .lineCat .item svg .str0 {
  stroke: #d9e2ed;
  stroke-width: 3.88505;
}
.inner > .content .wrapper.mainBlock .lineCat .item svg .str1 {
  stroke: #0e9ede;
  stroke-width: 5.82784;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.inner > .content .wrapper.mainBlock .lineCat .item svg .fil0 {
  fill: none;
}
.inner > .content .wrapper.mainBlock .lineCat .item.active .arrow .ar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.inner > .content .wrapper.mainBlock .lineCat .item .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(2rem * var(--size));
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  margin-top: 0;
}
.inner > .content .wrapper.mainBlock .lineCat .item .arrow .ar {
  background: url(../img/arrow.svg) no-repeat;
  /* height: 100%; */
  height: 0.5rem;
  width: 20px;
  /* width: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: center;
  -webkit-transition: transform 0.5s ease-in-out 0.5s;
  -moz-transition: transform 0.5s ease-in-out 0.5s;
  -o-transition: transform 0.5s ease-in-out 0.5s;
  transition: transform 0.5s ease-in-out 0.5s;
}
.inner > .content .wrapper.mainBlock .lineCat .item p {
  margin: 0;
}
.inner > .content .wrapper.mainBlock .lineCat .item .oldPrice {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  text-decoration: line-through;
}
.inner > .content .wrapper.mainBlock .lineCat .item .price {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 3px;
}
.inner > .content .wrapper.mainBlock .lineCat .item .price span {
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: lowercase;
  color: black;
  font-size: 1.25rem;
  margin-right: 5px;
}
.inner > .content .wrapper.mainBlock .lineCat .item .name {
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  color: black;
  font-size: 1.25rem;
  margin: 0 0 calc(10px * var(--size)) 0;
}
.inner > .content .wrapper.mainBlock .lineCat .item .more {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #0e9edb;
  font-size: .87rem;
  background: none;
  border: none;
  padding: calc(30px * var(--size)) calc(44px * var(--size));
  padding-left: 0;
  padding-bottom: 0;
  cursor: pointer;
  outline: none;
}
.inner > .content .wrapper.mainBlock .lineCat .item .srok {
  background: url(../img/Figura_50.png) no-repeat left center;
  background-size: contain;
  padding-left: 25px;
  color: #6e6e6e;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(150px * var(--size));
}
.inner > .content .wrapper.mainBlock .lineCat .item .shadow {
  position: absolute;
  top: calc(230px * var(--size) + 1.5rem);
  width: 100%;
  left: 0;
  height: 100%;
  background: #f0f4f8;
  border-top: 1px solid #d9e2ed;
}
.inner > .content .wrapper.mainBlock .lineCat .item .shadow .desc {
  padding: 1.5rem 0;
  margin: 0 1.5rem;
  color: black;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid #d9e2ed;
}
.inner > .content .wrapper.mainBlock .lineCat .item .shadow > .scroller {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -30px;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.inner > .content .wrapper.mainBlock .lineCat .item .shadow > .scroller img {
  padding: 17px 10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 3;
  position: relative;
}
.inner > .content .wrapper.mainBlock .lineCat .item .shadow .icons {
  padding: 1rem 1rem 1.5rem;
  color: black;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  overflow: hidden;
}
.inner > .content .wrapper.mainBlock .lineCat .item .shadow .icons .block {
  margin: 1rem 0;
  opacity: 1;
}
.inner > .content .wrapper.mainBlock .lineCat .item .shadow .icons .block .icon {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}
.inner > .content .wrapper.mainBlock .lineCat .item .shadow .icons .block .text {
  width: 77%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.inner > .content .wrapper.mainBlock .lineCat .item .pult {
  background: white;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: calc(120px * var(--size));
  z-index: 2;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: calc(15px * var(--size));
  border-top: 1px solid #d9e2ed;
}
.inner > .content .wrapper.mainBlock .lineCat .item .pult button {
  display: block;
  margin: 5px auto;
}
.inner > .content .wrapper.mainBlock .lineCat .item .pult .more {
  display: none;
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: white;
  font-size: .935rem;
  background: none;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(222px * var(--size));
  padding: calc(10px * var(--size)) calc(40px * var(--size));
  cursor: pointer;
  outline: none;
  position: relative;
  background: white;
}
.inner > .content .wrapper.mainBlock .lineCat .item .pult .more::after {
  content: '';
  background: url(../img/ten_knopki.png) no-repeat;
  background-position: left top;
  transform-origin: left top;
  -webkit-transform: scale(var(--size));
  -moz-transform: scale(var(--size));
  -ms-transform: scale(var(--size));
  -o-transform: scale(var(--size));
  transform: scale(var(--size));
  position: absolute;
  display: block;
  width: 277px;
  height: 59px;
  top: -2px;
  left: -2px;
  z-index: 1;
}
.inner > .content .wrapper.mainBlock .lineCat .item .pult .sale {
  font-family: Lato-Semibold, sans-serif;
  padding: 13px 15px 15px;
  font-size: calc(1.25rem * var(--size));
  width: calc(50% / var(--size));
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.inner > .content .wrapper.mainBlock .lineCat .item .pult .scroller {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -25px;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.inner > .content .wrapper.mainBlock .lineCat .item .pult .scroller img {
  padding: 17px 10px;
  z-index: 3;
  position: relative;
}
.inner > .content .wrapper.mainBlock .lineCat .item .pult .scroller::after {
  content: '';
  background: url(../img/ten_strelki.png);
  position: absolute;
  display: block;
  width: 90px;
  height: 67px;
  top: 0;
  left: 0;
  z-index: 1;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item1 .face {
  background: #ffffff url(../img/1.png) no-repeat right;
  background-size: contain;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item1 .pult {
  -webkit-box-shadow: 0 -10px 20px rgba(240, 244, 248, 0.7);
  box-shadow: 0 -10px 20px rgba(240, 244, 248, 0.7);
}
.inner > .content .wrapper.mainBlock .lineCat .item.item1 .scroller {
  background: #c89d00;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item1 .more.active {
  color: #c89d00;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item2 .face {
  background: #ffffff url(../img/2.png) no-repeat right;
  background-size: contain;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item2 .pult {
  -webkit-box-shadow: 0 -10px 20px rgba(240, 244, 248, 0.7);
  box-shadow: 0 -10px 20px rgba(240, 244, 248, 0.7);
}
.inner > .content .wrapper.mainBlock .lineCat .item.item2 .scroller {
  background: #473579;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item2 .more.active {
  color: #473579;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item3 .face {
  background: #ffffff url(../img/3.png) no-repeat right;
  background-size: contain;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item3 .pult {
  -webkit-box-shadow: 0 -10px 20px rgba(240, 244, 248, 0.7);
  box-shadow: 0 -10px 20px rgba(240, 244, 248, 0.7);
}
.inner > .content .wrapper.mainBlock .lineCat .item.item3 .scroller {
  background: #0086c2;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item3 .more.active {
  color: #0086c2;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item4 .face {
  background: #ffffff url(../img/4.png) no-repeat right;
  background-size: contain;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item4 .pult {
  -webkit-box-shadow: 0 -10px 20px #f0f4f8;
  box-shadow: 0 -10px 20px #f0f4f8;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item4 .scroller {
  background: #00973c;
}
.inner > .content .wrapper.mainBlock .lineCat .item.item4 .more.active {
  color: #00973c;
}
.inner > .content .wrapper.advantages {
  overflow: hidden;
}
.inner > .content .wrapper.advantages h5 {
  text-align: center;
  margin: 65px auto 0;
}
.inner > .content .wrapper.advantages .button {
  font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  margin: 20px auto 60px;
  display: block;
  padding: 17px 80px 20px;
}
.inner > .content .wrapper.advantages .advaContent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 65px 75px 0;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: replace(space-between, "flex-", "");
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.inner > .content .wrapper.advantages .advaContent .item {
  width: 32%;
  min-width: 260px;
  margin-bottom: 77px;
}
.inner > .content .wrapper.advantages .advaContent .item .icon {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 72px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
  text-align: center;
}
.inner > .content .wrapper.advantages .advaContent .item .icon svg {
  height: 85%;
}
.inner > .content .wrapper.advantages .advaContent .item .description {
  display: inline-block;
  vertical-align: middle;
  width: 68%;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}
.inner > .content .wrapper.advantages .advaContent .item.item1 .icon svg .str0 {
  stroke: #707070;
  stroke-width: 17.275;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.inner > .content .wrapper.advantages .advaContent .item.item1 .icon svg .fil0 {
  fill: none;
}
.inner > .content .wrapper.advantages .advaContent .item.item1 .icon svg .fil1 {
  fill: #ffdd30;
}
.inner > .content .wrapper.advantages .advaContent .item.item2 .icon svg .str0 {
  stroke: #707070;
  stroke-width: 12.2953;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.inner > .content .wrapper.advantages .advaContent .item.item2 .icon svg .fil0 {
  fill: none;
}
.inner > .content .wrapper.advantages .advaContent .item.item2 .icon svg .fil2 {
  fill: #707070;
}
.inner > .content .wrapper.advantages .advaContent .item.item2 .icon svg .fil1 {
  fill: #ffe040;
}
.inner > .content .wrapper.advantages .advaContent .item.item3 .icon svg .str0 {
  stroke: #707070;
  stroke-width: 13.1497;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.inner > .content .wrapper.advantages .advaContent .item.item3 .icon svg .fil0 {
  fill: none;
}
.inner > .content .wrapper.advantages .advaContent .item.item3 .icon svg .fil1 {
  fill: #ffe040;
}
.inner > .content .wrapper.advantages .advaContent .item.item4 .icon svg .str0 {
  stroke: #707070;
  stroke-width: 8.41872;
}
.inner > .content .wrapper.advantages .advaContent .item.item4 .icon svg .str1 {
  stroke: #707070;
  stroke-width: 8.41872;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.inner > .content .wrapper.advantages .advaContent .item.item4 .icon svg .fil1 {
  fill: none;
}
.inner > .content .wrapper.advantages .advaContent .item.item4 .icon svg .fil0 {
  fill: #ffe040;
}
.inner > .content .wrapper.advantages .advaContent .item.item4 .icon svg .fil2 {
  fill: #FEFEFE;
  fill-rule: nonzero;
}
.inner > .content .wrapper.advantages .advaContent .item.item5 .icon svg .str0 {
  stroke: #707070;
  stroke-width: 14.2768;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.inner > .content .wrapper.advantages .advaContent .item.item5 .icon svg .fil0 {
  fill: none;
}
.inner > .content .wrapper.advantages .advaContent .item.item5 .icon svg .fil1 {
  fill: #ffe040;
}
.inner > .content .wrapper.advantages .advaContent .item.item6 .icon svg .str0 {
  stroke: #707070;
  stroke-width: 15.489;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.inner > .content .wrapper.advantages .advaContent .item.item6 .icon svg .fil2 {
  fill: none;
}
.inner > .content .wrapper.advantages .advaContent .item.item6 .icon svg .fil1 {
  fill: #fefefe;
}
.inner > .content .wrapper.advantages .advaContent .item.item6 .icon svg .fil0 {
  fill: #ffdb20;
}
.inner > .content .wrapper.advantages .advaContent .item.item6 .icon svg .fil3 {
  fill: #ffdd30;
}
.inner > .content .wrapper.reviews {
  overflow: hidden;
  background-image: url(../img/woodpattern.jpg), url(../img/backSlider.jpg);
  background-size: 14%, 10% 10%;
  background-repeat: repeat-x, repeat;
  background-position: left bottom, left top;
}
.inner > .content .wrapper.reviews h5 {
  text-align: left;
  margin: 0 auto .5rem;
  padding-top: calc(30px * var(--size));
  margin-left: calc(607px * var(--size));
}
.inner > .content .wrapper.reviews .content {
  position: relative;
  height: calc(395px * var(--size));
}
.inner > .content .wrapper.reviews .content .arrow {
  top: 58px;
}
.inner > .content .wrapper.reviews .content .prev {
  left: calc(607px * var(--size));
}
.inner > .content .wrapper.reviews .content .left {
  background: url(../img/bullet.png) no-repeat;
  width: 607px;
  height: 395px;
  transform-origin: left top;
  -webkit-transform: scale(var(--size));
  -moz-transform: scale(var(--size));
  -ms-transform: scale(var(--size));
  -o-transform: scale(var(--size));
  transform: scale(var(--size));
  top: 0;
  left: 0;
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: replace(center, "flex-", "");
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
}
.inner > .content .wrapper.reviews .content .left .inner {
  color: white;
  display: inline-block;
  width: 76%;
  position: relative;
  top: 7px;
}
.inner > .content .wrapper.reviews .content .left .inner .bigNumbers {
  font-size: 120px;
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 20px;
}
.inner > .content .wrapper.reviews .content .left .inner .desc {
  display: inline-block;
  vertical-align: baseline;
}
.inner > .content .wrapper.reviews .content .left .inner .text1 {
  font-size: 26px;
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.inner > .content .wrapper.reviews .content .left .inner .text2 {
  font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.inner > .content .wrapper.reviews .content .slider {
  margin-left: calc(607px * var(--size));
  padding: 0 2.1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  outline: none;
  top: calc(40px * var(--size));
}
.inner > .content .wrapper.reviews .content .slider > * {
  outline: none;
}
.inner > .content .wrapper.reviews .content .slider .monitor {
  width: calc(351px * var(--size));
  max-width: 320px;
  display: inline-block;
  vertical-align: top;
  background: url(../img/Vetal2.png);
  height: calc(246px * var(--size));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: calc(20px * var(--size));
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.inner > .content .wrapper.reviews .content .slider .monitor img {
  width: calc(269px * var(--size));
  max-width: 270px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
.inner > .content .wrapper.reviews .content .slider .description {
  font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
  width: calc(100% - (351px * var(--size)) - (50px * var(--size)));
  display: inline-block;
  vertical-align: top;
  background: url(../img/kovOpen.png), url(../img/kovClose.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}
.inner > .content .wrapper.reviews .content .slider .description .head {
  font-size: 1.25rem;
  text-align: right;
}
.inner > .content .wrapper.reviews .content .slider .description .mainText {
  font-size: 1rem;
}
.inner > .content .wrapper.reviews .content .slider .description .signature {
  font-size: 1.25rem;
}
.inner > .content .wrapper.reviews .content .slider .description .signature a {
  color: #0d9ede;
}
.inner > .content .wrapper.completeGoods {
  overflow: hidden;
  position: relative;
}
.inner > .content .wrapper.completeGoods h3 {
  text-align: center;
  margin: calc(70px * var(--size)) auto calc(20px * var(--size));
}
.inner > .content .wrapper.completeGoods > p {
  text-align: center;
}
.inner > .content .wrapper.completeGoods .tabs {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: replace(space-between, "flex-", "");
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
}
.inner > .content .wrapper.completeGoods .tabs .ebaline {
  background: #a2b3e0;
  width: 170px;
  height: 2px;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.inner > .content .wrapper.completeGoods .tabs .ebaline::after {
  content: '';
  background-image: url(../img/podcherkivanie.png);
  position: absolute;
  height: 6px;
  width: 21px;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: auto;
}
.inner > .content .wrapper.completeGoods .tabs .item {
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}
.inner > .content .wrapper.completeGoods .tabs .item .ico {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  transform: scale(0.42);
  transform-origin: left;
  margin-right: -45px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item1 .ico {
  background-image: url(../img/spritesheetvetal.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
  width: 94px;
  height: 97px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item1.active .ico {
  background-position: -5px -112px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item1:hover .ico {
  background-position: -5px -112px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item2 .ico {
  background-image: url(../img/spritesheetvetal.png);
  background-repeat: no-repeat;
  background-position: -5px -219px;
  width: 118px;
  height: 97px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item2.active .ico {
  background-position: -5px -326px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item2:hover .ico {
  background-position: -5px -326px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item3 .ico {
  background-image: url(../img/spritesheetvetal.png);
  background-repeat: no-repeat;
  background-position: -5px -433px;
  width: 108px;
  height: 97px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item3.active .ico {
  background-position: -5px -540px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item3:hover .ico {
  background-position: -5px -540px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item4 .ico {
  background-image: url(../img/spritesheetvetal.png);
  background-repeat: no-repeat;
  background-position: -5px -647px;
  width: 97px;
  height: 97px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item4.active .ico {
  background-position: -5px -754px;
}
.inner > .content .wrapper.completeGoods .tabs .item.item4:hover .ico {
  background-position: -5px -754px;
}
.inner > .content .wrapper.completeGoods .tabs-content {
  margin: 25px 60px 70px;
  text-align: center;
  display: none;
  width: calc(100% - 120px - 25%);
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.inner > .content .wrapper.completeGoods .tabs-content.active {
  display: block;
}
.inner > .content .wrapper.completeGoods .tabs-content .item {
  position: relative;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.inner > .content .wrapper.completeGoods .tabs-content .item:hover .price {
  opacity: 0;
}
.inner > .content .wrapper.completeGoods .tabs-content .item:hover .overlay {
  opacity: 1;
  background: rgba(0, 36, 53, 0.8);
}
.inner > .content .wrapper.completeGoods .tabs-content .item img {
  width: 100%;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .sale {
  position: absolute;
  left: 0;
  top: 30px;
  color: white;
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 1.125rem;
  background: #78b72d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px 7px 12px;
  display: none;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .price {
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  width: 100%;
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #0d9ede;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 0 0 0;
  z-index: 1;
  opacity: 1;
  transition: 0.2s;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .price span {
  background: white;
  z-index: 2;
  position: relative;
  padding: 10px;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .price::after {
  content: '';
  position: absolute;
  top: 15px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #c5c4c4;
  margin: auto;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay {
  width: 100%;
  height: 100%;
  transition: 0.2s;
  animation: fadeEffect;
  background: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .title {
  display: none;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .pricebig {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .srok {
  color: #8dbace;
  margin: 10px 0 30px;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.viewDemo {
  color: black;
  text-transform: uppercase;
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  padding: 14px 23px 15px;
  background: #ffd300;
  margin-bottom: 25px;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.viewDemo::before {
  background: #e9b800;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.viewDemo:hover {
  color: black;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz {
  position: relative;
  color: #ffd202;
  text-transform: uppercase;
  padding: 0;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz span {
  padding: 12px;
  position: relative;
  display: block;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz span::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  top: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  content: '';
  position: absolute;
  background: #ffd202;
  -webkit-transition: -webkit-transform 0.25s, background 0.25s;
  transition: transform 0.25s, background .25s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
  transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz span::after {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  bottom: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  content: '';
  position: absolute;
  background: #ffd202;
  -webkit-transition: -webkit-transform 0.25s, background 0.25s;
  transition: transform 0.25s, background .25s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
  transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz:hover {
  color: white;
  background: transparent;
  box-shadow: none;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz:hover span::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background: #fff;
  transition-delay: 0s;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz:hover span::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background: #fff;
  transition-delay: 0.25s;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background: #fff;
  transition-delay: 0s;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background: #fff;
  transition-delay: 0.25s;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz::before {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform 0.25s, background 0.25s;
  transition: transform 0.25s, background .25s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
  transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  background: #ffd202;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .button.zakaz::after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform 0.25s, background 0.25s;
  transition: transform 0.25s, background .25s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
  transition-timing-function: cubic-bezier(1, 0.53, 0.79, 0.68);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  background: #ffd202;
}
.inner > .content .wrapper.completeGoods .tabs-content .item .overlay .infocenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 205px;
}
.inner > .content .wrapper.completeGoods .converseBlock {
  width: 22%;
  position: absolute;
  bottom: 70px;
  right: 5%;
  height: 415px;
}
.inner > .content .wrapper.completeGoods .converseBlock svg {
  width: 100%;
  height: 100%;
}
.inner > .content .wrapper.completeGoods .converseBlock .item {
  clip-path: url(#clipLol);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.inner > .content .wrapper.completeGoods .converseBlock .item img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.inner > .content .wrapper.completeGoods .converseBlock .block {
  background: url(../img/banner.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
}
.inner > .content .wrapper.completeGoods .converseBlock .block .text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70%;
  margin: auto;
  text-align: center;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.inner > .content .wrapper.completeGoods .converseBlock .block .text .bigText {
  font-family: Lato-Black, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 1rem 0;
}
.inner > .content .wrapper.completeGoods .converseBlock .block .text .smallText {
  font-family: Lato-Regular, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  margin: 0;
}
.inner > .content .wrapper.completeGoods .converseBlock .block .button {
  position: absolute;
  bottom: 4vh;
  right: 0;
  left: 0;
  margin: auto;
  height: 45px;
  width: 70%;
  padding: 7px 5px 10px;
  font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
}
.inner > .content .wrapper.whyWe {
  background-image: url(../img/floor2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  height: calc(430px * var(--size));
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.inner > .content .wrapper.whyWe .stack {
  width: 33.3333333333%;
  position: relative;
}
.inner > .content .wrapper.whyWe .stack .babel {
  z-index: 5;
  transform-origin: center;
}
.inner > .content .wrapper.whyWe .stack.stack1 .babel {
  background-image: url(../img/babel3.png);
  width: 385px;
  height: 141px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px 75px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 18px;
}
.inner > .content .wrapper.whyWe .stack.stack1 .green {
  background-image: url(../img/green.png);
  width: 209px;
  height: 256px;
  position: absolute;
  bottom: -4px;
  left: 50px;
  z-index: 2;
  transform-origin: bottom;
}
.inner > .content .wrapper.whyWe .stack.stack1 .tablet {
  background-image: url(../img/mobilePresent.png);
  width: 222px;
  height: 243px;
  position: absolute;
  bottom: -15px;
  left: 130px;
  z-index: 1;
  transform-origin: bottom;
}
.inner > .content .wrapper.whyWe .stack.stack2 h3 {
  text-align: center;
  margin-top: 30px;
}
.inner > .content .wrapper.whyWe .stack.stack2 .babel {
  background-image: url(../img/babel2.png);
  width: 326px;
  height: 89px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 55px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 92px;
}
.inner > .content .wrapper.whyWe .stack.stack2 .domain {
  background-image: url(../img/ru.png);
  width: 312px;
  height: 161px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  transform-origin: bottom;
}
.inner > .content .wrapper.whyWe .stack.stack2 .coffee {
  background-image: url(../img/coffe.png);
  width: 283px;
  height: 125px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 180px;
  transform-origin: bottom;
}
.inner > .content .wrapper.whyWe .stack.stack3 .babel {
  background-image: url(../img/babel1.png);
  width: 469px;
  height: 177px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px 55px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
}
.inner > .content .wrapper.whyWe .stack.stack3 .cardholder {
  background-image: url(../img/money.png);
  width: 214px;
  height: 209px;
  z-index: 1;
  position: absolute;
  bottom: -12px;
  left: 60px;
  transform-origin: bottom;
}
.inner > .content .wrapper.whyWe .stack.stack3 .apple {
  background-image: url(../img/apple.png);
  width: 118px;
  height: 137px;
  z-index: 2;
  position: absolute;
  bottom: -2px;
  left: 220px;
  transform-origin: bottom;
}
.inner > .content .wrapper.whyWe .stack.stack3 .masjka {
  background-image: url(../img/cat.png);
  width: 106px;
  height: 107px;
  z-index: 3;
  position: absolute;
  bottom: 60px;
  right: 0;
  transform-origin: center;
}
.inner > .content .wrapper.allin {
  background: #ffffff url(../img/man.jpg) no-repeat;
  background-size: 45%;
  background-position: right bottom;
  width: 100%;
}
.inner > .content .wrapper.allin .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  max-width: calc(1000px * var(--size));
  padding: calc(100px * var(--size));
}
.inner > .content .wrapper.allin .content h3 {
  margin: 0;
}
.inner > .content .wrapper.allin .content h5 {
  margin: 0;
  padding: 1rem 0 2rem 0;
  font-size: 1.125rem;
  font-family: Lato-Regular, sans-serif;
  text-transform: none;
}
.inner > .content .wrapper.allin .content .list {
  -webkit-column-count: 2;
  -webkit-column-gap: 1rem;
  -moz-column-count: 2;
  -moz-column-gap: 1rem;
  column-count: 2;
  column-gap: 1rem;
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari, Opera */
  page-break-inside: avoid;
  /* Firefox */
  break-inside: avoid;
  /* IE 10+ */
}
.inner > .content .wrapper.allin .content .list .item {
  padding: 1rem 3.7rem;
  background: url(../img/galo4ka.png) no-repeat left center;
}
.inner > .content .wrapper.allin .content .button {
  margin: 30px 0 0 0;
}
.inner > .content .wrapper.testdrive {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  text-align: right;
  height: calc(650px * var(--size));
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: replace(flex-end, "flex-", "");
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.inner > .content .wrapper.testdrive .content {
  text-align: left;
  max-width: calc(900px * var(--size));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: calc(125px * var(--size)) calc(100px * var(--size)) 0;
  display: inline-block;
}
.inner > .content .wrapper.testdrive .content h3 {
  margin: 0;
  margin-bottom: 1.5rem;
}
.inner > .content .wrapper.testdrive .content .text {
  font-size: 1.125rem;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
}
.inner > .content .wrapper.testdrive .content .button {
  margin-top: 2.5rem;
  position: relative;
  padding: 0;
  font-size: 18px;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.21);
  outline: none;
}
.inner > .content .wrapper.testdrive .content .button span {
  padding: 20px 47px 18px;
  display: block;
  z-index: 3;
  position: relative;
}
.inner > .content .wrapper.testdrive .content .button::after {
  content: '';
  position: absolute;
  background: url(../img/shadow2.png) no-repeat;
  width: calc(100% + 63px);
  outline: none;
  height: 52px;
  bottom: -32px;
  left: -37px;
  background-size: contain;
  z-index: 1;
}
.inner > .content .wrapper.time {
  background: url(../img/hand.jpg) no-repeat right center;
  background-size: 50%;
  height: calc(650px * var(--size));
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: replace(flex-start, "flex-", "");
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.inner > .content .wrapper.time .content {
  text-align: left;
  max-width: calc(750px * var(--size));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: calc(100px * var(--size));
  display: inline-block;
}
.inner > .content .wrapper.time .content h3 {
  margin: 0;
  margin-bottom: 1.5rem;
}
.inner > .content .wrapper.time .content .text {
  font-size: 1.125rem;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
}
.inner > .content .wrapper.time .content .button {
  margin-top: 1.5rem;
}
.inner > .content > footer {
  background: #efefef;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: calc(35px * var(--size)) calc(100px * var(--size)) calc(15px * var(--size));
}
.inner > .content > footer .content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: replace(space-between, "flex-", "");
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: top;
  -moz-box-align: top;
  -ms-flex-align: top;
  -webkit-align-items: top;
  align-items: top;
}
.inner > .content > footer .content .border {
  width: 1px;
  height: 100px;
  background: #d0d0d0;
}
.inner > .content > footer .content .column p.h {
  font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding-bottom: calc(25px * var(--size));
  display: block;
  margin: 0;
  border-bottom: 1px solid #cdcdcd;
}
.inner > .content > footer .content .column > a {
  display: block;
  text-decoration: none;
  color: #000;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.875rem 0;
}
.inner > .content > footer .content .column > a:nth-of-type(1) {
  margin: 0 0 0.875rem 0;
}
.inner > .content > footer .content .column .signature {
  color: #A3A3A3;
}
.inner > .content > footer .content .column .logo {
  width: calc(220px * var(--size));
  margin: 0 0 1rem;
}
.inner > .content > footer .content .column .icons {
  width: 100%;
  text-align: center;
}
.inner > .content > footer .content .column .icons .item {
  display: inline-block;
  width: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px 5px 0;
}
.inner > .content > footer .content .column .icons .item.item1 svg .str0 {
  stroke: #D9DADA;
  stroke-width: 15.6856;
}
.inner > .content > footer .content .column .icons .item.item1 svg .fil0 {
  fill: none;
}
.inner > .content > footer .content .column .icons .item.item1 svg .fil1 {
  fill: #044569;
  fill-rule: nonzero;
}
.inner > .content > footer .content .column .icons .item.item2 svg .str0 {
  stroke: #D9DADA;
  stroke-width: 1.94791;
}
.inner > .content > footer .content .column .icons .item.item2 svg .fil0 {
  fill: none;
}
.inner > .content > footer .content .column .icons .item.item2 svg .fil1 {
  fill: #044569;
}
.inner > .content > footer .content .column .icons .item.item3 svg .str0 {
  stroke: #D9DADA;
  stroke-width: 1.03843;
}
.inner > .content > footer .content .column .icons .item.item3 svg .fil0 {
  fill: none;
}
.inner > .content > footer .content .column .icons .item.item3 svg .fil1 {
  fill: #044569;
}
.inner > .content > footer .content .column .icons .item.item4 svg .str0 {
  stroke: #D9DADA;
  stroke-width: 0.707911;
}
.inner > .content > footer .content .column .icons .item.item4 svg .fil0 {
  fill: none;
}
.inner > .content > footer .content .column .icons .item.item4 svg .fil1 {
  fill: #044569;
}
.inner > .content > footer .content .column.info .button {
  padding: 7px 15px 11px;
  background: none;
  box-shadow: none;
  border: 1px solid #31527b;
  color: #31527b;
}
.inner > .content > footer .content .column.callus .button {
  padding: 7px 15px 11px;
  background: none;
  box-shadow: none;
  border: 1px solid #31527b;
  color: #31527b;
  text-align: center;
  font-size: 1.25rem;
}
.inner > .content > footer .content .column.callus .tel {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.inner > .content > footer .content .column.callus p {
  margin-top: 0;
}
.inner > .content > footer .content .column.info input {
  padding: 8.5px 15px;
  margin-right: 5px;
}
.inner > .content > footer .content .column.info form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.inner > .content > footer .content .column.owner {
  max-width: 255px;
}
.inner > .content > footer .content .column.owner p {
  margin-top: 0;
  font-size: 20px;
}
.inner > .content > footer .content .column.owner input {
  padding: 5px 10px;
  display: block;
  margin: 15px 0;
}
.inner > .content > footer .content .column.owner a.button {
  padding: 16px 30px;
  background: none;
  box-shadow: none;
  border: 1px solid #31527b;
}
.inner > .content > footer .content .column.owner hr {
  color: #cdcdcd;
  margin: 1.5rem 0;
}
.inner > .content > footer .content .column.owner .tel {
  margin: 0;
  color: #000;
}
.inner > .content > footer .content .column.owner .tel span {
  font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.inner > .content > footer .content .column.owner a.button {
  text-align: center;
  font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  color: #31527b;
}
.inner > .content > footer .content .column.salee p,
.inner > .content > footer .content .column.hochu p {
  font-size: 1rem;
  color: #A3A3A3;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  margin: 0 0 10px 0;
}
.inner > .content > footer .content .column.salee ul,
.inner > .content > footer .content .column.hochu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.inner > .content > footer .content .column.salee ul li a,
.inner > .content > footer .content .column.hochu ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  background: url(../img/chert.png) no-repeat;
  background-position: left center;
  text-decoration: none;
  font-size: .9rem;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  color: black;
  display: block;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.inner > .content > footer .content .column.salee ul li a:hover,
.inner > .content > footer .content .column.hochu ul li a:hover {
  -webkit-transform: translate3d(10px, 0, 0);
  -moz-transform: translate3d(10px, 0, 0);
  -ms-transform: translate3d(10px, 0, 0);
  -o-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}
@media screen and (min-width: 1750px) {
  .modal.mainModal {
    height: 410px;
  }
  .modal.callUs {
    height: 335px;
  }
  .modal.success {
    height: 225px;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item.item1 {
    background-size: inherit;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item.item2 {
    background-size: inherit;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item.item3 {
    background-size: inherit;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item.item4 {
    background-size: inherit;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .pult .sale {
    font-size: calc(1rem * var(--size));
    width: calc(65% / var(--size));
  }
  .inner > .content .wrapper.whyWe .stack.stack1 .babel {
    top: 40px;
  }
  .inner > .content .wrapper.whyWe .stack.stack2 .babel {
    top: 120px;
  }
  .inner > .content .wrapper.whyWe .stack.stack3 .babel {
    top: 30px;
  }
  .inner > .content .wrapper.reviews .content .slider {
    padding: 0 2.2rem;
  }
  .inner > .content .wrapper.reviews .content .slider .description {
    width: 59%;
  }
}
@media screen and (max-width: 1441px) {
  .inner aside.sideMenu {
    width: 260px;
  }
  .inner aside.sideMenu .logo img {
    width: 214px;
  }
  .inner aside.sideMenu .logo p {
    margin: 1vh auto 0;
    width: 214px;
  }
  .inner aside.sideMenu .buttonMain .button {
    margin: 2.5vh auto;
  }
  .inner > .content {
    width: calc(100% - 260px);
    margin-left: 260px;
  }
  .inner > .content > header {
    width: calc(100% - 260px);
  }
  .inner > .content .wrapper.mainBlock .formDeal .button {
    font-size: 1.65rem;
  }
  .inner > .content .wrapper.mainBlock .lineCat {
    height: calc(300px * var(--size));
  }
  .inner > .content .wrapper.mainBlock .lineCat .item {
    padding: calc(4.5rem * var(--size)) 1.5rem calc(1rem * var(--size)) 1.5rem;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .face .more {
    padding: calc(10px * var(--size)) calc(44px * var(--size));
    padding-bottom: 0;
    padding-left: 0;
  }
  .inner > .content .wrapper.advantages .advaContent .item {
    width: 50%;
  }
  .inner > .content .wrapper.whyWe .stack.stack1 .babel {
    top: -10px;
  }
  .inner > .content .wrapper.whyWe .stack.stack2 .babel {
    top: 85px;
  }
  .inner > .content .wrapper.whyWe .stack.stack3 .babel {
    top: -10px;
    transform-origin: 20%;
  }
}
@media screen and (max-width: 1345px) {
  .inner > .content .wrapper.mainBlock .lineCat .item .price span {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .inner > .content > header .mobile {
    display: block;
    cursor: pointer;
  }
  .inner > .content {
    width: 100%;
    margin-left: 0;
  }
  .inner > .content > header {
    width: 100%;
    margin-left: 0;
  }
  .inner aside.sideMenu {
    z-index: 23;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .inner aside.sideMenu .close {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .inner > .content .wrapper.completeGoods .converseBlock {
    position: initial;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  .modal {
    max-width: 320px;
  }
  .inner > .content .wrapper.mainBlock .formDeal {
    top: calc(var(--topDeal) / 3);
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .mobile8 {
    display: none!important;
  }
  .inner > .content .wrapper.reviews .content .slider {
    margin-left: 0;
  }
  .inner > .content .wrapper.completeGoods .tabs-content {
    width: calc(100% - 120px);
  }
  .inner > .content .wrapper.completeGoods .tabs-content .owl-nav .owl-next {
    left: 95%;
  }
  .inner > .content .wrapper.whyWe .stack .babel {
    transform-origin: 10% top;
  }
  .to {
    transform-origin: 10% bottom!important;
  }
  .inner > .content .wrapper.whyWe .stack.stack3 .babel {
    transform-origin: left top!important;
  }
  .inner > .content .wrapper.allin {
    background: white;
  }
  .inner > .content .wrapper.allin .content {
    max-width: 100%;
    text-align: center;
  }
  .inner > .content .wrapper.testdrive {
    background: white;
  }
  .inner > .content .wrapper.testdrive .content {
    max-width: 100%;
  }
  .inner > .content > footer .content .border {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .inner > .content .wrapper.completeGoods .converseBlock {
    height: 470px!important;
  }
  html {
    font-size: 14px;
  }
  .mobile5 {
    display: none!important;
  }
  .inner > .content > header.mobile55 {
    z-index: 3;
  }
  .item.burger {
    width: 25px;
    height: 25px;
    position: relative;
    padding: 0!important;
    margin: 10px 0;
  }
  .item.burger img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .item.burger .bur {
    opacity: 1;
    cursor: pointer;
    z-index: 2;
  }
  .item.burger .cross {
    cursor: pointer;
    opacity: 0;
  }
  .mobile55 {
    display: flex!important;
    justify-content: space-between !important;
  }
  .mobile55.mainh {
    justify-content: center!important;
    margin-top: 80px;
    font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  .mobile55.h5 {
    justify-content: center!important;
    font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  .mobile55 .logo {
    width: 130px;
    height: 39px;
    position: relative;
    overflow: hidden;
  }
  .mobile55 .logo img {
    width: 100%;
  }
  .mobile55 .logo .color {
    position: absolute;
    top: 14px;
    left: 0;
    opacity: 1;
  }
  .mobile55 .logo .white {
    position: absolute;
    top: 14px;
    left: 0;
    opacity: 0;
  }
  .inner > .content .wrapper.mainBlock {
    background: white;
    height: 100%;
    z-index: 2;
  }
  .inner > .content .wrapper.mainBlock .lineCat {
    position: relative;
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item {
    margin-left: 0;
    width: 100%;
    min-height: 171px;
    position: relative;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .arrow {
    display: none;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item::after {
    content: '';
    background: url(../img/mobile/triangle.svg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 8px;
    height: 17px;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .shadow .pult {
    position: relative;
    height: 120px;
    padding: 15px;
    box-shadow: none!important;
    bottom: 0;
    opacity: 1;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .shadow .pult .scroller {
    display: none;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .shadow .pult .sale {
    --size: .8;
    margin: 25px auto;
  }
  .inner > .content .wrapper.mainBlock .lineCat .item .shadow .pult .sale::after {
    top: 2px;
  }
  .inner > .content .wrapper.advantages .advaContent {
    padding: 20px;
  }
  .inner > .content .wrapper.advantages .advaContent .item {
    width: 100%;
    margin-bottom: 25px;
  }
  .inner > .content .wrapper.advantages .button {
    display: none;
  }
  .inner > .content .wrapper.reviews {
    background: white;
  }
  .inner > .content .wrapper.reviews h5 {
    text-align: center;
    margin-left: inherit;
  }
  .inner > .content .wrapper.reviews .content {
    height: 100%;
  }
  .inner > .content .wrapper.reviews .content .slider .description {
    width: 100%;
    padding: 50px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .inner > .content .wrapper.reviews .content .arrow {
    top: 45%;
  }
  .inner > .content .wrapper.whyWe {
    background: url(../img/mobile/fon.png);
    height: auto;
    flex-direction: column;
    overflow: hidden;
  }
  .inner > .content .wrapper.whyWe .stack {
    width: 100%;
    height: 280px;
  }
  .inner > .content .wrapper.whyWe .stack.stack1 .green {
    z-index: 7;
    bottom: 70px;
    left: 20%;
  }
  .inner > .content .wrapper.whyWe .stack.stack1 .tablet {
    z-index: 6;
    left: 45%;
    bottom: 55px;
  }
  .inner > .content .wrapper.whyWe .stack.stack1 h5 {
    margin: 25px 0;
  }
  .inner > .content .wrapper.whyWe .stack.stack1 .babel {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: initial;
    transform-origin: left bottom;
  }
  .inner > .content .wrapper.whyWe .stack.stack2 {
    height: 185px;
  }
  .inner > .content .wrapper.whyWe .stack.stack2 .domain {
    left: 35px;
    bottom: 50px;
  }
  .inner > .content .wrapper.whyWe .stack.stack2 .coffee {
    left: 150px;
    bottom: 43px;
  }
  .inner > .content .wrapper.whyWe .stack.stack2 .babel {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: initial;
    transform-origin: left bottom;
  }
  .inner > .content .wrapper.whyWe .stack.stack3 .cardholder {
    left: 90px;
    bottom: 110px;
  }
  .inner > .content .wrapper.whyWe .stack.stack3 .apple {
    left: 208px;
    bottom: 110px;
  }
  .inner > .content .wrapper.whyWe .stack.stack3 .babel {
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    top: initial;
    transform-origin: left bottom!important;
  }
  .inner > .content .wrapper.time .content {
    padding: 20px;
  }
  .inner > .content .wrapper.time .content h3 {
    font-size: 1.8rem;
    width: 70%;
  }
  .inner > .content .wrapper.time .content p {
    width: 70%;
  }
  .inner > .content .wrapper.time .content .button {
    width: 100%;
  }
  .inner > .content .wrapper.time .content .button.mobile55 {
    text-align: center;
    justify-content: center!important;
  }
  .inner > .content .wrapper.time {
    background: url(../img/hand.jpg) no-repeat 125% center;
    background-size: 50%;
  }
  .inner > .content > footer {
    padding: 20px;
  }
  .inner > .content > footer .content {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .inner > .content > footer .content .contacts {
    order: 1;
  }
  .inner > .content > footer .content .owner {
    order: 2;
  }
  .inner > .content > footer .content .tp {
    order: 3;
  }
  .inner > .content > footer .content .tp br {
    display: none;
  }
  .modal.shagModal {
    padding: 1rem;
  }
  .modal.shagModal .lineSteps {
    display: none;
  }
  .modal.shagModal form .button {
    padding: 15px 20px 16px;
  }
  .modal {
    height: 90%!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    top: initial;
    max-width: 100%;
    padding: 2rem;
  }
  .modal.menuMobile .button {
    width: 100%;
    padding: 20px;
  }
  .modal.menuMobile a.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }
  .modal .owner {
    margin: 40px auto;
    max-width: 255px;
  }
  .modal .owner p {
    margin-top: 0;
    font-size: 20px;
  }
  .modal .owner input {
    padding: 5px 10px;
    display: block;
    margin: 15px 0;
  }
  .modal .owner a.button {
    padding: 16px 0;
  }
  .modal .owner hr {
    color: #cdcdcd;
    margin: 1.5rem 0;
  }
  .modal .owner .tel {
    margin: 0;
    color: #000;
    text-decoration: none;
  }
  .modal .owner .tel span {
    font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .modal .owner a.button {
    font-family: UniSansHeavyCAPS, Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: white;
  }
  .inner > .content .wrapper.completeGoods .tabs-content {
    padding: 0px;
    margin: 0;
    width: 100%;
    display: none;
  }
  .inner > .content .wrapper.completeGoods .tabs-content.active {
    display: none;
  }
  .inner > .content .wrapper.completeGoods > p {
    display: none;
  }
  .inner > .content .wrapper.completeGoods > h5 {
    display: none!important;
  }
  .inner > .content .wrapper.completeGoods .tabs {
    display: none;
  }
  .arrow {
    top: 120px;
  }
  .inner > .content .wrapper.completeGoods .arrow {
    top: 0;
  }
  .inner > .content .wrapper.reviews .content .prev {
    left: 20px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  .scalableIpad {
    -webkit-transform: scale(0.8) !important;
    -moz-transform: scale(0.8) !important;
    -ms-transform: scale(0.8) !important;
    -o-transform: scale(0.8) !important;
    transform: scale(0.8) !important;
  }
  .inner > .content .wrapper.mainBlock .keyboard {
    left: 45%;
    top: 46%;
  }
  .inner > .content .wrapper.mainBlock .arroww {
    left: 46%;
    top: 49%;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1366px) and (max-width: 1366px) {
  .scalableIpad {
    -webkit-transform: scale(0.8) !important;
    -moz-transform: scale(0.8) !important;
    -ms-transform: scale(0.8) !important;
    -o-transform: scale(0.8) !important;
    transform: scale(0.8) !important;
  }
  .inner > .content .wrapper.mainBlock .keyboard {
    left: 51%;
    top: 46%;
  }
  .inner > .content .wrapper.mainBlock .arroww {
    left: 52%;
    top: 52%;
  }
}
@media only screen and (max-device-width: 1278px) and (min-device-height: 800px) {
  .inner > .content .wrapper.mainBlock .formDeal {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  .inner > .content .wrapper.mainBlock .arroww {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    left: calc(var(--leftDeal) + (565px * .8));
    top: calc(var(--topDeal) + (265px * .8));
  }
  .inner > .content .wrapper.mainBlock .keyboard {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    left: calc(var(--leftDeal) + (535px * .8));
    top: calc(var(--topDeal) + (190px * .8));
  }
}
